[2019-03-11 14:02] rtroncy opened #1 "Disable geonames interlinking for cities"
We attempted to use [https://github.com/DOREMUS-ANR/string2vocabulary/](String2Vocabulary) to match city and town names with Geonames URIs. However, the simple fuzzy matching strings are not efficient enough and this leads to a lot of linking mistakes, see also [this issue](https://github.com/DOREMUS-ANR/string2vocabulary/issues/4).

Meanwhile, I recommend to disable the usage of string2vocabulary

[2019-03-11 14:07] rtroncy opened #2 "List all persons and organizations"
We will ultimately attempt to link all persons and organizations with URI from some authorities. One obvious candidate is for example ISNI (http://www.isni.org/search) which also offers a search API.

In order to find out what sources we should use, the first step is to list all authors and organizations using simple SPARQL queries.

[2019-03-11 14:17] pasqLisena commented on #1
Geonames matching is not managed by `string2vocabulary`, but by the official [Geonames package](https://www.geonames.org/source-code/javadoc/org/geonames/package-summary.html).

What it is possible to try is to better setting the language or the country. ([here](https://github.com/silknow/converter/blob/master/src/main/java/org/silknow/converter/commons/GeoNames.java) the unique entry point for SI

[2019-04-02 10:48] pasqLisena commented on #1
FYI, I corrected the id for Saint Etienne, so that it will correctly link to the [right city](http://www.geonames.org/2980291/saint-etienne.html) in next conversion

[2019-04-02 11:56] rtroncy commented on #1
This has just amounted to add the line 281 of the [mapping table](https://github.com/silknow/converter/blob/master/places.properties)?

If so, we should just close this issue

[2019-04-02 12:36] pasqLisena commented on #1
Yes, exactly

[2019-04-02 12:36] #1 closed

[2019-05-21 15:01] tschleider opened #3 "Time periods: String replacement / linking with Getty AAT / Perio.do"
Web: https://perio.do/en/

[2019-05-21 15:05] tschleider opened #4 "METConverter: Field "galleryInformation" not mapped / mapping not implemented yet"
Awaiting input for how to deal with "relatedObjects" and the field "galleryInformation"

[2019-05-21 15:19] tschleider opened #5 "MAD converter: complex regex parsing needed for production location/time"
One field ("Création") contains several values, and some of them belong to time, some to place, some to something else. For the 'time' I can use some more regex, for the rest I have to see.

example:
"label":"Création:","values":["France","1700-1730","Louis XIV (époq.)","Louis XV (époq.)"

[2019-05-21 15:21] tschleider opened #6 "UNIPA: New dataset format required for proper conversion"
The requirements for the (crawler+) converter is:

- We need one file per record

- the first column should contain the field labels, the second one the field values, nothing else

I have not taken care of the naming, but each file should be called like the collection and a number, like "cattedrale-di-palermo-1" for example. If they are named like this the files do  not need subfolders, they could

[2019-05-21 15:22] tschleider opened #7 "VAM: Interlinking Wikidata and VAM artists / works"
See the property proposal at https://www.wikidata.org/wiki/Wikidata:Property_proposal/Victoria_and_Albert_Museum_name_ID and assess the usage of the property in Wikidata

[2019-05-21 15:27] tschleider opened #8 "VAM: "dimensions" field string format is not standardised and required advanced parsing"
Examples:

(O80773.json) "Diameter: 3.5 cm  approx., Length: 1.25 in, Width: 1.25 in"
(O268045.json) "Length: 20 cm, Width: 10.5 cm"
(O332091.json) "Length: 670 mm, Height: 20 mm"
(O294351.json) "Width: 22 cm, Length: 6.5 cm"

[2019-05-21 15:29] tschleider opened #9 "MTMAD: Most fields require complex parsing/entity recognition"
Only two fields can be properly parsed with regex right now ("Dimensions" and "Forme de la citation"), the other ones need to be combined into one text note for now/as a workaround, until we try something more powerful like entity linking/recognition etc.

[2019-05-22 13:31] tschleider opened #10 "General: Improving Getty + SILKNOW Thesaurus linking"
For strings not found in Getty, we should search for the SILKNOW thesaurus to get a new URI. For the strings not found in Getty and in SILKNOW, then we should maybe create a new URI (scheme to define).

[2019-05-22 13:40] rtroncy commented on #10
You need to list the properties for which you will rely on the SILKNOW thesaurus to control the values. This will include, most likely, the material and the technique ... what else?

[2019-05-22 15:30] tschleider opened #11 "General: Language information for strings missing in many cases"
This information is mostly missing in the dataset, but we could quickly post-process it, e.g. the IMATEX dataset contains this information in the file names of the json, in most collections the location of the museum defines the language etc.

[2019-05-22 15:43] rtroncy commented on #11
As a rule of thumb, most textual values should be represented with ```@language``` in RDF.

[2019-05-23 14:10] tschleider opened #12 "General: Sometimes the url of an image (crm:E38_Image) is in dc:identifier (e.g. MET), sometimes in schema:contentUrl"

[2019-05-23 14:36] tschleider opened #13 "Imatex, MET, Garin and VAM do not have permanent URI for their images"
- In case of Imatex the conversion has to be changed and then applied
- Solution for VAM is on its way (converter updated, conversion ongoing)
- In case of Garin all images have been already uploaded, conversion needs to add reference to their location
- In case of MET the main error is connected to #12

[2019-05-23 14:42] rtroncy commented on #13
/ cc @javier-sevilla to let us know about the status of the local copy of all images on the SILKNOW server

[2019-05-23 14:44] rtroncy commented on #12
`dc:identifier` should not be used for this purpose. `schema:contentURL` is the right property to use.

[2019-05-24 08:30] javier-sevilla commented on #13
The base link is: http://silknow.org/silknow/media/
followed by the name of the data provider (garin, imatex, etc.), and optionally some sub-folders (e.g. for garin, tejidos, puestas_en_carta, etc), and the name of the file. For instance: http://silknow.org/silknow/media/garin/tejidos/T001139_ANV.jpg

The folders and the name of the data provider follow the same format than on owncloud (with "_" r

[2019-05-24 08:47] rtroncy commented on #13
Thanks @javier-sevilla . I have updated your comment for better readability.

[2019-05-24 14:09] tschleider commented on #4
@mpuren @rtroncy  Pierre spoke about the "galleryInformation" field during the Telecon on May 24 and there was no objection to the opinion of ignoring/removing this field because it is irrelevant to SILKNOW, can you confirm this?

[2019-05-24 15:46] tschleider opened #14 "Mix up of "filename" and "registration number" in the code in some datasets"
Need to fix this and re-upload some datasets.

[2019-05-24 16:21] rtroncy commented on #4
@tschleider Can you provide a concrete example in this thread, with the json object corresponding to the record from MET highlighting the field `galleryInformation` that could be ignored?

[2019-05-27 15:10] tschleider commented on #4
@rtroncy

02.12.json excerpt: {"label":"galleryInformation","value":"Not on view"}

See also our comments at the mapping doc:
https://docs.google.com/document/d/1hey3yfQf4Se_N2jVi4bjgwHNb2-_pCBm4l5A2eEf_gk/

[2019-05-27 20:40] rtroncy commented on #4
Regarding the `galleryInformation` field, it provides information whether the object is on display in the museum or if it is hidden in some storage room? If so, I agree that this is not necessarily an information we need to materialize in the triple store. Out of curiosity, I'm curious to know the ratio of the number of objects which are "Not on view" versus the ones displayed in the museum (what

[2019-05-28 13:23] tschleider commented on #12
Yes, I agree. Should be fixed now.

[2019-05-28 13:23] #12 closed

[2019-05-28 13:24] tschleider commented on #13
Status update:
- Fixed the converter for VAM, MET and IMATEX accordingly
- Re-uploaded VAM, MET and the English version of IMATEX so far

[2019-05-28 14:04] tschleider opened #15 "MTMAD: Image URIs only work after the record's main URI has been viewed before"
We are not really using the URI to the record's main web page in the conversion, but if you click directly on the image URI (at least the one we crawl/convert) you receive a website with this message (5673.ttl/.json):

"Votre session a expiré.
--
Vous allez être redirigé(e) automatiquement vers la page de connexion.Si rien ne se passe d'ici 5 secondes, veuillez cliquer sur le lien ci-dessous."

UR

[2019-05-28 14:16] rtroncy commented on #15
This [record](http://www.mtmad.fr/floracci/jsp/opac/opac_index.jsp?action=view_notice&recordId=musee:MUS_BIEN:5673&only_main=true&lang=fre-FR) has apparently 4 illustrative images. Are we capturing them all?

This [link](http://www.mtmad.fr/floracci/servlet/PhotoManager?recordId=musee:MUS_PHOTO:148934&idocsId=ged:IDOCS:164523&resolution=MEDIUM&timeStamp=1372753552391&imageScale=L396) corresponds t

[2019-06-06 11:20] tschleider commented on #13
Status update:
- Re-upload of IMATEX completed
- Only GARIN left with no working URIs
- Next step is to add links to our local copies for all datasets

@javier-sevilla : Is it actually possible to change the folder structure for GARIN? Could you just copy all images of Garin to http://silknow.org/silknow/media/garin/ instead of the three subfolders?

[2019-06-06 12:25] rtroncy commented on #13
There was an added-value in keeping this sub-folder structure for the GARIN dataset images. Why would you need to put all images in the root folder? Given a metadata file, you know how to re-create this path, right?

[2019-06-06 12:36] javier-sevilla commented on #13
Yes sure, is possible, only some cp commands.
I'll do at 15.30.

[2019-06-06 12:36] tschleider commented on #13
@rtroncy : Right now this information is not kept in the conversion, the images are connected to the record by their filename, not their full path. Is this added-value worth it to rewrite the converter?

[2019-06-06 12:57] rtroncy commented on #13
@javier-sevilla Please, wait for the discussion to be finished on github
@tschleider We will loose the knowledge that some images are "dibujos" or "tejidos" or "puesta en carta", or can you found this information in the metadata? I think it is worth to keep it. How hard is it to adapt the converter to maintain this folder structure?

[2019-06-06 13:29] tschleider commented on #13
Actually there is one field ("Objecto") that roughly corresponds to these three categories, but not always. To give you an example, most records in the tejido folders have the "Objecto" set as "Tejido", but once in a while i see a record like G.P.00482 which is in the "Puesta en carta" folder and has this field set to "Patrón", which sounds to me like it is either more fine-grained than these 3 fo

[2019-06-06 14:01] javier-sevilla commented on #13
oK , sure, don't worry. I expect to the final decision.

[2019-06-06 15:58] rtroncy commented on #13
Let's ask Garin for their opinion. I'm making an email.

[2019-06-07 13:26] rtroncy commented on #13
Following the discussion we had by emails, all GARIN images are now in a single /garin folder. @tschleider you can therefore close this issue when the converter rightly implements this behavior

[2019-06-11 07:51] ehrhart commented on #15
These are already permalinks, but a valid session is required to view them, and there doesn't seem to be a way around it.

[2019-06-11 08:54] rtroncy commented on #15
Therefore, an alternative for this museum source, is to not rely on the session-based hosting of the images but rather use local copies. @tschleider Can you implement this as a workaround?

[2019-06-11 13:27] tschleider opened #16 "Joconde: Material and technique are in the same field"
Just realised there is a TODO comment in the code, probably from @pasqLisena , because one of the Joconde field contains both the material and the technique and we need to implement something that treats the string accordingly. Right now the content of this field is just treated as "Material"

[2019-06-11 13:38] tschleider commented on #15
@ehrhart : thanks for looking into this!
@rtroncy : yes, that is my plan to do this with all local copies for all dataset anyway, but I hoped we could also have less confusing links to the original. Shall I close this here now or only once I added all the local URIs to the graph?

[2019-06-11 15:50] rtroncy commented on #15
Close this issue only when local image links (for this source) will be present in the graph

[2019-06-14 15:29] tschleider opened #17 "String2Vocubulary not used for techniques"
I am testing right how to imitate the getty/thesaurus linking ( https://github.com/DOREMUS-ANR/string2vocabulary ) to work with the "techniques" fields the same way as it is implemented for the "materials" fields.

Once it works I will re-convert and re-upload all datasets/TTL files.

[2019-06-26 13:09] #17 closed

[2019-06-26 13:10] tschleider opened #18 "Missing texts present in the original JSON files but not yet converted in the KG"
This can be further used for text analysis / extraction

[2019-06-26 19:38] rtroncy commented on #17
Thanks @tschleider ! Try to mention issue number when doing commits so github automatically associates commits with issues which serve as justification as why issues are closed

[2019-06-26 19:41] rtroncy commented on #18
It would be good to provide examples, for each source, of what textual information has not yet been converted as well as the reason for it (e.g. missing mapping)

[2019-07-11 15:09] tschleider commented on #13
@javier-sevilla I now finally implemented the changes to make the garin converter use the local copy with the updated folder structure, but the URI still does not work, e.g.: "http://silknow.org/silknow/media/garin/GP007841.jpg" Is something wrong with the URI or the image, Javier?

[2019-07-23 15:22] tschleider commented on #18
Ok, I went through every field mentioned in https://docs.google.com/document/d/1HbWXAuDX0TNXGec0sgVLRiQ5G0DxLBNiTsn2gWqcWGc/edit and only "Related Objects" of MET and "Related" of RISD are not included in some way. The former is related to #4 and for the latter I need some clarification from @mpuren  or Pierre, I commented it accordingly.

What is also missing is most fields of MTMAD, see #9

[2019-08-12 15:28] tschleider opened #19 "Geonames: Still some issues with matching strings to locations, wrong links/URIs - pre-processing necessary"
E.g "Paris" gets linked to the location "Paris Creek" instead of "Paris" (http://data.silknow.org/production/6b276c1a-f0e0-314b-98ac-cdede8d59a6a)

[2019-08-13 12:13] tschleider opened #20 "MFA Boston: "MediumOrTechnique" field instead of two fields"
Right now it's converted as "material" field only, but this is of course not sufficient.

[2019-08-13 12:29] tschleider opened #21 "MFA/Joconde/MAD: One field instead of two for Material and Technique"
Right now it's converted as "material" field only, but this is of course not sufficient.

[2019-08-14 13:41] tschleider commented on #19
@pasqLisena  committed some improvements about this ( especially for MET ) already, but there is some more work to do. For example we should normalise "French" into "France", but sometimes we have extra information like "Probably" or "found in" or "made in", that we should not remove. We thought about a way to store that extra information somewhere else as a comment before removing it from the str

[2019-08-14 13:43] #20 closed

[2019-08-14 13:44] tschleider commented on #20
duplicate

[2019-08-14 13:48] tschleider opened #22 "Imatex: Language confusion"
This is the only dataset with different languages and there is some confusion in the original dataset, also because we have several files per record. We need some more checks and implement some ways to correct/avoid them in the graph.

[2019-08-14 14:16] tschleider opened #23 "Garin: Problem with assignment of crmdig:D1_Digital_Object"
The query:
[code]
[results](http://data.silknow.org/sparql?default-graph-uri=&query=SELECT++%3Fdig+%0D%0AWHERE+%7B%0D%0A++GRAPH+%3Chttp%3A%2F%2Fdata.silknow.org%2Fgarin%3E+%7B%0D%0A+++++%3Fdig+a+crmdig%3AD1_Digital_Object+.+%7D%0D%0A%7D+&format=text%2Fhtml&timeout=0&debug=on)

should return one row for every Garin record. We found out that something is wrong with the class assignment.

[2019-08-14 21:31] rtroncy commented on #19
This is interesting. Can you provide example links of those records?

The "found in" and "made in" may be represented using different properties in the model since it does not convey the same semantics. @mpuren what do you think?

The "probably" is a qualifier, so this is something else that could indeed be represented in a textual note.

[2019-08-22 13:24] tschleider commented on #6
Format is updated now, but we still need the images as separate files.

[2019-08-22 15:33] tschleider commented on #13
@javier-sevilla We implemented some mechanism to add the URL for our local copies of the images for almost all converters (except CER, UNIPA and MTMAD), but I still do not know what is wrong with the URLs for Garin ( see above, http://silknow.org/silknow/media/garin/GP007841.jpg ), VAM and MAD.

Here examples for the latter ones, what is wrong the the URLs?

VAM: http://silknow.org/silknow/media/v

[2019-08-23 08:40] tschleider commented on #6
All the XLSX files here are the records in the requested format, ready for the crawler to convert it to our JSON format and then for the converter to RDF.
https://drive.google.com/drive/folders/1SdIfRxadqy3FbNkOG0fjkkjUUbMD6lp7

All images are in the required format on OwnCloud:
https://silknow.uv.es/owncloud/index.php/apps/files/?dir=/UNIPA&fileid=43

Therefore the issue can be closed.

[2019-08-23 22:33] rtroncy commented on #6
I'm re-opening this issue, just to make sure that the next steps are clear.

You suggest that the crawler to be updated to convert from csv (https://drive.google.com/drive/folders/1SdIfRxadqy3FbNkOG0fjkkjUUbMD6lp7) to the common json format? Does this really help the converter? The alternative is for the converter to directly take as input this csv format (in addition to the common json). If the f

[2019-08-26 13:13] tschleider commented on #6
@rtroncy :

@ehrhart  added this step already quite a while ago (see https://github.com/silknow/crawler/commit/7fb6eaef49727dae6ce441cb2dcb5e835888f9f0, https://github.com/silknow/crawler/commit/c0e9a556e52aa46a1d37bbf94c4e994e2dcf43fa or https://github.com/silknow/crawler/commit/8a7b70600203bd5ddfecfb9497e08a46a5724593). Our idea was indeed  to keep the converter code more consistent. The other w

[2019-08-26 13:50] rtroncy commented on #6
You're right, thanks for reminding the history. This issue can be closed then.

[2019-08-26 13:50] #6 closed

[2019-08-26 14:09] tschleider commented on #22
To clarify, these language problems can be sub-divided into 2 smaller problems:

1) Imatex is the only dataset that we have used so far with different languages. Each records has 2-3 files in English, Spanish, Catalan and our converter is supposed to interlink all their information to one common object. Right now this is not the case. To check what I mean try searching for both "3008_en" and "3008

[2019-08-26 14:34] pasqLisena commented on #22
I see that there is a huge problem with this object:
http://data.silknow.org/object/f9287b4f-da28-305f-9b1a-9b594cc144f9

This  is target of a lot of properties (clearly a bug)

[2019-08-26 17:03] pasqLisena commented on #22
The source files had a weird translation in the fields with the id, which was `REGISTER NUMBER` in en, `NUM. REGISTRE` in ca, and `NÚM.REGISTRO` in es.
The converter was failing in extracting this id in not-English languages, so that the id for all files in ca and es was the string `null`.

This is the only case of translated field key. (so that `CRONOLOGIA` is always `CRONOLOGIA` in all languages

[2019-08-27 15:43] tschleider commented on #22
@pasqLisena  thanks for the bug fix, I will reopen it again because of the second issue that just needs to be highlighted somewhere until somehow addressed.

[2019-08-28 14:06] tschleider opened #24 "Imatex: Original dataset has Strings/Entries that contain mixed languages"
(Originally part of #22 )

The original Dataset is  not consisent. The original language seems to be Catalan, but for some fields in the English version there is either still Catalan text or even a mix between Catalan and English. E.g. first object when looking for textile pieces in the English version on their website ( Reg. nr. 108), here an example:

TÈCNICA* | brocaded - / brocading weft - / t

[2019-08-28 14:07] tschleider commented on #22
Created #24 for remaining issue.

[2019-08-28 14:07] #22 closed

[2019-08-29 16:22] pasqLisena commented on #23
This issue is not replicable in current status of the converter.

I think we already fixed this behaviour [here](https://github.com/silknow/converter/commit/e739f322ff9db7104cc347342522d047614c475b#diff-efb7f4fa9755604398ebbdff0b7188f6R122) and we just need to re-upload the data.

[2019-08-30 14:33] tschleider commented on #11
Added tags now to most strings. This does not solve #24  of course. Example from 13975_en.ttl (imatex):

ecrm:P3_has_note               "vellut tallat llavorat de 1 cos"@en ;

[2019-08-30 14:33] #11 closed

[2019-09-03 20:58] tschleider opened #25 "Interlinking: addClassification (entity.java) tries to match ONLY with Silknow Thesaurus, addMaterial / addTechnique (production.java) ONLY with Getty"
@pasqLisena : is this on purpose or an omission? I can try to fix it, just need some background information.

[2019-09-03 20:59] tschleider commented on #23
I reconverted it and it seems fixed. Have not uploaded it yet, but will close it once done (and working).

[2019-09-04 12:46] #23 closed

[2019-09-04 12:52] tschleider commented on #25
Basically a more detailed duplicate of #10 . Will close this and update the other one.

[2019-09-04 12:52] #25 closed

[2019-09-04 12:52] tschleider commented on #10
Interlinking: addClassification (entity.java) tries to match ONLY with Silknow Thesaurus, addMaterial / addTechnique (production.java) ONLY with Getty

@pasqLisena : is this on purpose or an omission? I can try to fix it, just need some background information.

[2019-09-05 15:35] tschleider commented on #14
https://github.com/silknow/converter/commit/0cf9da052773a85efdf09f5237aad44fcb60f618

[2019-09-05 15:35] #14 closed

[2019-09-10 12:46] tschleider commented on #10
Changed priority from Getty to Silknow Thesaurus, in case that a string can get matched with both.

[2019-09-10 13:17] tschleider commented on #10
Need to split up strings to improve matching.

[2019-09-11 13:14] tschleider opened #26 "MET: Regular parenthesis with some ID from the museum prevents linking of strings with vocabulary"
E.g.: "Wool (9,615)"

Need to remove this with regex

[2019-09-12 13:15] tschleider commented on #26
Solved, MET needs to be converted still

[2019-09-13 09:00] tschleider opened #27 "General: Counting the IDs (an object should just have one id) leads to wrong number of objects/records"
Joconde, Imatex, Garin and Ceres.

Need some double check on the ID mechanism in the converter to avoid duplicates etc..
In case of Joconde we have two IDs per records because of referencing, maybe we need to re-write this.

Example query for Joconde (should lead to 366 rows):

[code]

[2019-09-19 12:40] tschleider commented on #19
MET has more information that we now collect thanks to a crawler update: another field with more complete information about the location (e.g.) Europe, France, Sèvres for 00.1.18.json instead of only "French". This should be taken into account.

[2019-09-27 14:23] tschleider opened #28 "VAM: "Summary" field / "public_access_description" needs to be split up in different fields"
We do have mappings for the fields "Subject depiction" e.g., but right now this and other ones are part of a huge text block in the field "public_access_description" which corresponds to "Summary" on the website.  Due to the original data being in this bad format it needs to be split up and converted according to the existing mapping.

Here an example from O10418.json, the unedited value of the fi

[2019-09-27 14:44] tschleider commented on #16
Just realised that I adressed this a second time as #21 . Closing this here

[2019-09-27 14:44] #16 closed

[2019-09-27 14:45] tschleider commented on #21
Including MAD/Les arts decoratifs here.

[2019-09-30 08:43] tschleider opened #29 "Subject depictions: "E36_Visual Item" should be used instead of "P62_depicts""
The making of subject depictions changed at some point in the mappings and is not reflected yet in the converter/the knowledge graph. I do not consider it a bug as all the information is available in the KG, but according to the mapping it's not located perfectly.

[2019-09-30 14:26] mpuren commented on #4
Hi @tschleider, I've added a comment in the Gdoc concerning the 'galleryInformation' field, and I think we can remove it. I wait for Pierre to confirm.

[2019-10-04 15:09] javier-sevilla commented on #13
Hello @tschleider

I have checked the wrong link with a GARIN image:
http://silknow.org/silknow/media/garin/GP007841.jpg

In the computer there are two files

GP00784_REV.jpg, GP00784_ANV.jpg  but there isn't the GP007841.jpg file.

I'll check the VAM and MAD missing giles

Sorry for the delay I was off during two months.

[2019-10-04 20:11] rtroncy commented on #13
Indeed, I just did a search in owncloud with the string `GP00784` and I get only 3 files: GP00784.xls, GP00784_ANV.jpg and GP00784_REV.jpg. There are duplicates, stored both in `/data/garin/Puesta en carta/Palacio Alemán/Fotografías Patrones Palacio Alemán/` and in `/GARIN/Puesta en carta/Palacio Alemán/Fotografías Patrones Palacio Alemán/`

However, the pattern for GARIN is that the excel filenam

[2019-10-07 11:20] tschleider opened #30 "String2vocabulary: fuzzy matching could improve some of the linking"
Multiple candidate links to replace strings should be enabled in *some* occasions.

[2019-10-07 12:35] javier-sevilla commented on #13
There are not duplicates, the three files are all related with the same textile.

The excel file is a file with text data and also the images embbeded into the excel file.
The jpg files are the images contained inside the excel (ANV is the front of the textile, REV is the back of the textile)

This fact is the same with many GARIN files.

[2019-10-07 14:11] rtroncy commented on #13
@javier-sevilla I''m not saying that GP00784_REV.jpg and GP00784_ANV.jpg are duplicates, there are not! What I'm saying is that the files GP00784_REV.jpg, GP00784_ANV.jpg and GP00784.xls are present twice on owncloud, in the path folder `/data/garin/Puesta en carta/Palacio Alemán/Fotografías Patrones Palacio Alemán/` AND in the path folder `/GARIN/Puesta en carta/Palacio Alemán/Fotografías Patrone

[2019-10-07 15:49] javier-sevilla commented on #13
Oh, yes, don't worry about that. This is a question of owncloud folders. In the beggining each partner put the data in its own folder, but in its folder there are textile data and also other project files. In order to avoid misunderstandings we create the folder "data" with only museum data inside. You only need to check textile data from the "data" folder. We decided that many months ago I should

[2019-10-07 16:00] tschleider commented on #13
I just realised that @pasqLisena  coded a mechanism to give the TTL files a note if they have an "anverso" or "reverso" image, but the mechanism is not applied to the relevant part for images. I am sure we can use it for the URL "construction".

@pasqLisena : Do you have any input on this, I see that right now it creates these URIs, and I do not fully understand it (taken from GP00784.ttl) :

[cod

[2019-10-08 08:37] pasqLisena commented on #13
Hi,
that part is coded in the [garin converter](https://github.com/silknow/converter/blob/master/src/main/java/org/silknow/converter/converters/GarinConverter.java#L117), on the base of rules coming from [the mapping table](https://docs.google.com/document/d/1_DMd0aF4aweBmBKBMV11aUYzttqGT2ecTFAAJ0vNT6E/edit).

In particular:

Field | Example | Main Class | Path
-- | -- | -- | --
Anverso | No | S4_

[2019-10-09 13:41] mpuren commented on #19
@tschleider : could you give me an example with "found in" ? Because it is very very rare to "find" a textile. Textile pieces are very difficult to preserve in general, so they are very rarely found. More "traditional" archeological artifacts can be found in a grave (yes, sometimes archeologists find egyptian fabric by example), in the soil, in ancient houses... For our period of time, it would be

[2019-11-06 13:17] rtroncy opened #31 "Enable linked data dereferencing for UNIPA objects"
The UNIPA dataset has been recently integrated in the knowledge graph, but we cannot dereference URIs like http://data.silknow.org/UNIPA/MONREALE2 and we have to go through the 'describe' version (http://data.silknow.org/describe/?url=http%3A%2F%2Fdata.silknow.org%2FUNIPA%2FMONREALE2).

The resolution is simple: just add the corresponding rule in the configuration

[2019-11-06 14:01] rtroncy opened #32 "'assestment' instread of 'assessment' in the URI generated for GARIN"
See: http://data.silknow.org/assestment/65aa4e90-2891-3f4c-98c8-afc9c8a99060 which obviously be http://data.silknow.org/assessment/65aa4e90-2891-3f4c-98c8-afc9c8a99060 ... linked from
http://data.silknow.org/object/9ca5ecba-5406-306d-b293-1c7c33eea53d.

This mistake is true for GARIN at least.

[2019-11-07 13:59] pasqLisena commented on #31
The URI has been dereferenced. I also updated the internal documentation about URI dereferencing

[2019-11-07 13:59] #31 closed

[2019-11-08 16:11] rtroncy opened #33 "Image links for the UNIPA dataset are blank nodes"
For example, this UNIPA record http://data.silknow.org/object/48821af1-ee38-3eea-8b43-dfe3527e7653 points to 5 different illustrative images:
* http://data.silknow.org/image/70de6eac-c57b-3b6b-bb00-ffa38530ce6a
* http://data.silknow.org/image/dc659e21-db04-3128-a529-0887f5353c12
* http://data.silknow.org/image/b93618fe-eccd-3315-8eb9-daf2f85ea23f
* http://data.silknow.org/image/629d3d02-a6aa-3596-

[2019-11-13 12:43] rtroncy opened #34 "VAM, GARIN, JOCONDE: intermediary node missing in the knowledge graph?"
For VAM, test the following [query](https://github.com/silknow/api/blob/master/queries/wp3/VAM)  (and add a LIMIT 10). One observes that the variable `obj` is sometimes an object (`E22 Man-Made Object`) and sometimes an image (`E38 Image`). Is this the symptom that a node is missing in the knowledge graph? This has to be checked from the converter code and the [mapping files](https://drive.google.

[2019-11-13 13:15] pasqLisena commented on #34
This is not a problem with the data, but with the query.

These are the lines involving the `?obj`:

[code]

Looking at this, the results of the query are correct, because a Digital Object may describe both a MMO and an Image.

On my opinion, what is missing in the query is a typecast: `?obj a ecrm: E22_Man-Made_Object`.

For GARIN and JOCONDE, same story. The only difference are some OPTIONAL (so

[2019-11-13 13:29] rtroncy commented on #34
Right! Can you update the queries accordingly at https://github.com/silknow/api/tree/master/queries/wp3 (by adding an additional constraint on the type of the object)?

[2019-11-13 13:35] pasqLisena commented on #32
I keep the issue open as reminder for enabling disambiguation for `assessment` and disabling for `assestment`

[2019-11-13 13:42] pasqLisena commented on #33
(sorry I referred the wrong commit here)

[2019-11-13 13:47] pasqLisena commented on #34
The queries are ok now.
Btw, there is any reason for which the query files have no extension at all (rather than being `.rq` or `.sparql`)? cc @tschleider

[2019-11-13 13:50] rtroncy commented on #34
No, I wanted to make the same observation to @tschleider. Please, add the `.sparql` extension to all filenames. I would also lowercase all filenames (my taste)

[2019-11-13 13:55] pasqLisena commented on #34
Ok, everything is fixed here

[2019-11-13 13:55] #34 closed

[2019-11-13 15:23] pasqLisena commented on #33
I keep this issue open because we need to test (tomorrow?) the existence of this kind of files:
- http://silknow.org/silknow/media/unipa/mudipa1.4.jpg
- http://silknow.org/silknow/media/unipa/mudipa1.jpg

I include here also a reference to issue #13

There is a field called `Images (names of the images in the document)`

[2019-11-14 08:39] javier-sevilla commented on #13
Hi Raphael,

I think that duplicated file names are due to the duplicity of folders.

The valid files will be saved in:

/data/garin/Puesta en carta/Palacio Alemán/Fotografías Patrones Palacio Alemán/

The other files will be removed next monday.

[2019-11-14 08:51] rtroncy commented on #13
@javier-sevilla
We have to distinguish how things are stored on the owncloud server from what is served from http://silknow.org/silknow/media/ !

For GARIN, please no! We agreed to flatten the hierarchy. So ALL images need to be served from http://silknow.org/silknow/media/garin and no sub-folders!

Note: I edit your previous reply. If you reply to email, please, strip out past messages or go edit

[2019-11-14 11:57] javier-sevilla commented on #13
OK, I'll write a text file in owncloud describing how the files a saved into silknow/media if the structure is different. Something like in every folder "CHANGES_STRUCTURES.txt".

It is difficult and slow to copy hundred of files with owncloud. And at the end, owncloud is just for human consulting .

[2019-11-19 15:56] tschleider commented on #13
I checked my Garin example again and realised the file GP007841.jpg does not exist in the original Garin dataset, but  GP00784_REV.jpg, GP00784_ANV.jpg get changed into GP007841.jpg and GP007842.jpg after conversion. Can you confirm that @pasqLisena ? I guess we can change that back and then we're good with Garin!

http://silknow.org/silknow/media/garin/GP00784_ANV.jpg

For the other examples,

VA

[2019-11-20 09:50] javier-sevilla commented on #13
Hi Thomas,

Where did you get the file name of les arts decoratifs? Maybe from a JSON file? I don't find that name in owncloud.

[2019-11-20 15:44] tschleider commented on #13
https://silknow.uv.es/owncloud/index.php/apps/files/?dir=/SILKNOW/TEMPORAL_DATA%20(removed%20soon)&fileid=144701

It's in the "files" archives. As I said, right now only this folder contains the most up-to-date crawling results (and should not be removed, rather moved).

[2019-11-20 22:28] rtroncy commented on #13
@javier-sevilla You need to make sure that what you served from http://silknow.org/silknow/media/{museum} is the latest version of what we crawled. See the previous messages on the list

[2019-12-03 15:34] tschleider commented on #33
It's not reconverted and uploaded, yet, but the implementation is tested and works.

Two problems remain: the links still do not always work ( #13 ) and the (manual) curation of the UNIPA dataset is not unified, so the values of the field "Images" is not always the same. I sent an email about this to Georgia and she is working on it.

[2019-12-03 15:34] #33 closed

[2019-12-03 15:36] tschleider commented on #32
@pasqLisena  Thanks for the commit, but I do not completely understand if there is anything left to do?

[2019-12-03 15:37] tschleider commented on #27
I added you, @pasqLisena , to it, because I think we need 4 eyes on this. Please also have a look at my slides with stats about the number of records etc. as they are uploaded and retrievable from Virtuoso.

https://docs.google.com/presentation/d/1ch8WnzBTkgDjh2ybWHEPrNV8PT3A_moMGn6FDI_vSv4/edit?usp=sharing

[2019-12-03 17:55] rtroncy commented on #13
@javier-sevilla Can you please update us on this issue? We can still find some UNIPA links that do not work, e.g. http://silknow.org/silknow/media/unipa/mudipa1.4.jpg. Are you still working on it?

[2019-12-03 17:58] rtroncy commented on #32
Well, it seems there are still problems.
- You need to make sure that you have a http redirection rules for /assessment (and not assestment) for the linked data URIs
- You should grep in your dumps whether you have occurrences of 'assestment' or not and make sure they all disappear. I can still dereference http://data.silknow.org/assestment/65aa4e90-2891-3f4c-98c8-afc9c8a99060 which is obviously w

[2019-12-04 09:27] pasqLisena commented on #32
Yes, I add the re-conversion of the whole dataset

[2019-12-04 09:37] pasqLisena commented on #27
It is possibly related to this: https://lists.eurecom.fr/sympa/arc/silknow/2019-01/msg00067.html

When 2 IDs (inside the same institution) are the same, the 2nd one is never converted.

What is most worrying is the behaviour of CER (2 over 3 missings).
We need examples @tschleider

dataset|count|expected
-- | -- | --
IMATEX | 6124 | 6802
Garin | 3064 | 3109
Joconde | 131 | 368
CER | 410|  1291

[2019-12-04 09:50] javier-sevilla commented on #13
I check now and I'll tell you something asap.

Javier.

[2019-12-04 10:04] javier-sevilla commented on #13
Hola

I don't know what happened, we execute the script again and the files are right copied.

Regards,
Javier.

[2019-12-04 21:45] rtroncy commented on #27
For GARIN, there are indeed 45 items that re-use identifiers previously assigned to other objects. We cannot do anything for this.

For the other sources, this should not happen. We therefore need to investigate what is happening in the converter (or before, in the crawler)

[2019-12-04 22:27] rtroncy opened #35 "The property P2_has_type should generally point to controlled vocabulary values"
The following query:
[code]
at http://data.silknow.org/sparql yields very [worrying results](http://data.silknow.org/sparql?default-graph-uri=&query=select+distinct+%3Fo+%0D%0Awhere+%0D%0A+%7B+%3Fs+ecrm%3AP2_has_type+%3Fo+%0D%0A%7D&format=text%2Fhtml&timeout=0&debug=on). This needs to be analyzed for each dataset.

[2019-12-05 13:29] pasqLisena commented on #35
[code]
- [results](http://data.silknow.org/sparql?default-graph-uri=&query=select+distinct+%3Fg+count%28%3Fs%29+as+%3Fcount+%3Fo+%0D%0Awhere+%7B%0D%0A++GRAPH+%3Fg+%7B%3Fs+ecrm%3AP2_has_type+%3Fo+%7D%0D%0A%7D+GROUP+BY+%3Fg+%3Fo%0D%0AORDER+BY+desc%28count%28%3Fs%29%29&format=text%2Fhtml&timeout=0&debug=on)

Some of them are easy to fix (like `"en"@categories` => `"categories"@en`)

[2019-12-05 16:03] tschleider commented on #15
Keeping https://github.com/silknow/crawler/issues/8 in mind, it is solved on the converter side. The "original" links are dead now, but we can construct the local silknow URIs with the last crawl thanks to @ehrhart  script.

We cannot test them though, because we also need to ask @javier-sevilla  to reupload @ehrhart  's new crawl to the media server! Thanks in advance!

Test links:
http://silknow

[2019-12-05 19:00] javier-sevilla commented on #15
Dear Thomas

The mtmad files are updated in the server. Now the links work.

Javier.

[2019-12-05 20:45] tschleider commented on #27
To be honest, with our worst dataset here (CER) I am at a complete loss of what to do.

1) I just cleared the old CERES graph and re-uploaded the same dump.

2) I can show you very similar ttl files with exactly the same format, but for one (record) there is a digital Object and everything else in the KG after the upload for the other consistently nothing.

24964_MNAD.ttl and 24966_MNAD.ttl ( http

[2019-12-05 21:11] rtroncy commented on #27
@tschleider I have tried to follow your examples, but please, include complete links, otherwise it is hard to follow.
- http://data.silknow.org/object/c938bc48-cb1c-3a86-8579-196b14434009 is the object referenced in `24966 _MNAD.ttl` ... note that there is already a bug for the image (see the local link from http://data.silknow.org/image/9bd7e666-5c54-317a-be96-c0f879286ee2 which is wrong). The da

[2019-12-05 22:05] tschleider commented on #35
OK, in general maybe we need another discussion on this. The suggested change from @pasqLisena has been applied, and that was indeed a mistake.

Then there are some numbers, this should also be fixed after re-conversion, there was a typo in the code.

For the rest we need to distinguish. First of all it seems to be a problem that there is textual information in some of them. This comes from the fa

[2019-12-05 22:18] rtroncy commented on #35
I think we need to see on a case by case basis. For each field that triggers an instance of `ecrm:P2_has_type` (and for each museum), what is the value you will encounter in order to know if you have to take the value as is or if you have to interpret it.

Which thesaurus? SILKNOW? AAT? Of course, we are talking here about creating new, typically small, controlled vocabularies so I'm not sure I un

[2019-12-06 10:38] pasqLisena commented on #27
It's not Virtuoso that is strict, it's the TTL that is INVALID.
Virtuoso loads everything correctly until line 57, where is written:
[code]

That space breaks everything. All triples after line 57 are ignored.

[2019-12-06 10:43] tschleider commented on #35
you have to take the value as is or if you have to interpret it.

Now that I understand the problem better I will go through the mappings again 1-by-1 and have an exact look if there is more interpretation necessary, maybe regex is enough to split up big text fields.

Other than that I am on the other few errors/bugs, like the thing with the language tags.

Ok, now it makes sense to me, I just dis

[2019-12-06 10:44] tschleider commented on #27
Thank you very much @pasqLisena , I was changing the position of the language tag anyway for #35, so this is hopefully solved after the re-conversion today!

[2019-12-06 15:30] tschleider commented on #15
In general this works now, but some links are still dead (it's reconverted and online now):

http://silknow.org/silknow/media/mtmad/1004_3.jpg

[Query](http://data.silknow.org/sparql?default-graph-uri=&query=prefix+crmdig%3A+%3Chttp%3A%2F%2Fwww.ics.forth.gr%2Fisl%2FCRMext%2FCRMdig.rdfs%2F%3E++%0D%0Aprefix+crmsci%3A+%3Chttp%3A%2F%2Fwww.ics.forth.gr%2Fisl%2FCRMsci%2F%3E%0D%0A%0D%0ASELECT+DISTINCT+%3

[2019-12-06 15:39] tschleider commented on #15
Ok, this is more of a crawling issue, as this image simply has not been crawled and could not have been uploaded by @javier-sevilla (the links all work, and it's url is correctly stated in the JSON and finally the converted TTL)

[2019-12-06 16:00] tschleider commented on #15
Finally fixed, thanks @ehrhart  for looking into the crawler again!

[2019-12-06 16:33] tschleider commented on #27
CER has now 1296 records which is exactly the same amount than the most recent crawl (1296 json files), which means it's  solved!

For Garin and Joconde it's more or less the same.

dataset|count|expected
-- | -- | --
Garin | 3101 | 3109
Joconde | 376 | 378
CER | 1296|  1296

I had some delay with converting IMATEX, but it's on its way and I am optimistic.

[2019-12-06 16:36] tschleider commented on #32
As far as I can see the ones from GARIN disappeared, but it also existed in Imatex, which conversion is still ongoing.

[2019-12-06 16:39] tschleider commented on #18
The format of MET and Joconde websites/api/crawler changed and some information from their new formats is not integrated into the converter yet. Both converters need another overhaul.

[2019-12-07 21:37] rtroncy commented on #15
Are all media (local) links now working or does @javier-sevilla need to copy more images to http://silknow.org/silknow/media/mtmad/?

[2019-12-07 21:41] tschleider commented on #15
No, it was a crawler issue and Thibault fixed it. All local URIs are
working now, as far as I could see.

[2019-12-07 21:43] #15 closed

[2019-12-08 22:11] tschleider commented on #27
Imatex has not changed since reconversion and reupload, but I cannot find any bugs or language tag errors so it could be for another reason. Suggesting to close this issue here.

[2019-12-08 23:44] tschleider commented on #13
Thanks again @javier-sevilla . After some updates on the MET crawler (and their website), we needed to recrawl the dataset again. Could you (hopefully the last time before Hannover) please replace the old MET images with the one from

https://silknow.uv.es/owncloud/index.php/apps/files/?dir=/SILKNOW/TEMPORAL_DATA%20(removed%20soon)&fileid=144701

? Thank you!

[2019-12-09 08:40] rtroncy commented on #27
OK. Can you open a new issue for just IMATEX? Ideally, try to include in the new issue a concrete example of a record present in the JSON data crawled but either not transformed in RDF or not loaded in the endpoint.

[2019-12-09 13:08] tschleider commented on #27
Unfortunately, my bugfix for Imatex were not applied before Reconversion and it's highly likely that it's the same issue as in the other cases (the language tag problem). Therefore I re-open it, until the reconverted version is online.

[2019-12-09 14:28] tschleider commented on #13
This becomes more and more of a non-stop problem, but right now everything should work, but images from our latest MFA crawl are not on the media-server, could you have a look at them, too, @javier-sevilla ? Thank you!

[2019-12-09 14:45] tschleider commented on #13
@rtroncy : Everything is implemented on the crawler and converter side and working. Shall we already close it? I can also email about dead links in the future / ask for uploads.

[2019-12-09 14:47] tschleider commented on #32
I cannot see any "assestment" anymore whatsoever, therefore close.

[2019-12-09 14:47] #32 closed

[2019-12-09 14:49] rtroncy commented on #13
Let's close the issue once @javier-sevilla has copied all the necessary images on the media server

[2019-12-09 16:48] javier-sevilla commented on #13
Done!!

Sorry for the delay.

Javier.

[2019-12-09 17:07] tschleider commented on #13
@javier-sevilla thanks but, see example links (belonging to my last comments above):
MET:  http://silknow.org/silknow/media/met-museum/DP820005.jpg
MFA: http://silknow.org/silknow/media/mfa-boston/SC14033.jpg

[2019-12-11 00:17] tschleider commented on #27
Ok actually even after bugfixing and reconverting it's the same for Imatex, need to have another look after the meeting

[2019-12-11 00:20] tschleider commented on #13
The links are working, shall I dare to close it or does somebody want to do another check?

[Very large query that returns the illustrating image of each man made object across all museums](http://data.silknow.org/sparql?default-graph-uri=&query=prefix+crmdig%3A+%3Chttp%3A%2F%2Fwww.ics.forth.gr%2Fisl%2FCRMext%2FCRMdig.rdfs%2F%3E++%0D%0Aprefix+crmsci%3A+%3Chttp%3A%2F%2Fwww.ics.forth.gr%2Fisl%2FCRMs

[2019-12-11 10:23] tschleider commented on #10
Problem that still needs to be solved: why are some strings linked to weaving (Getty) instead of Weaving (SILKNOW) and similar issues. See the [stats slides](https://docs.google.com/presentation/d/1ch8WnzBTkgDjh2ybWHEPrNV8PT3A_moMGn6FDI_vSv4/edit#slide=id.g5b897345b9_0_136) for examples of different matches.

We also need to add in the SILKNOW Thesaurus the most common strings without link where a

[2019-12-11 13:05] tschleider opened #36 "Geonames: Interlinking with St. Etienne is (still) wrong"
Link goes sometimes to Saint-Étienne-du-Rouvray (http://sws.geonames.org/2980236/)  instead of Saint-Etienne (http://www.geonames.org/2980291/)

[Query showing all place names belonging to France](http://data.silknow.org/sparql?default-graph-uri=&query=SELECT+distinct+%3Fplace+count%28distinct+%3Fs%29+as+%3Fcount%0D%0AWHERE+%7B%0D%0A++++++%3Fs+a+ecrm%3AE12_Production+.%0D%0A+%0D%0A%0D%0A+%7B+%3Fs+

[2019-12-11 13:27] tschleider commented on #27
I managed to reconvert it with the non-updated code, so it needs another round of reconversion....

[2019-12-11 13:38] tschleider opened #37 "General: "Type of object" information / type assignment"
WP4 cannot use all types of objects, so they would like a query that filters out e.g. furniture and other objects that are not pure fabrics.

We do have `ecrm:E17_Type_Assignment` whose `ecrm:P42_assigned` properties get linked to the thesaurus, e.g. `10230000731.ttl` (Joconde) has

[code]

The usefulness of this needs to be tested and confirmed, eventually extended or we should look into other po

[2019-12-11 13:39] tschleider commented on #21
Possible solution: get the linking done before the mapping and map it accordingly afterwards

[2019-12-12 12:49] pasqLisena commented on #36
This is as easy as replacing every occurrence of the bad `2980236` to the correct `2980291` in [places.properties](https://github.com/silknow/converter/blob/master/places.properties), which contains the mapping label -> geonames id (or -1 if missing).

I included this replacement into commit e9e10d6.

Moreover, I added a final trimming to the place labels (so that we have not anymore trailing spac

[2019-12-12 13:48] rtroncy commented on #36
Thanks @pasqLisena !

@tschleider This only impacts Joconde according to this [query](http://data.silknow.org/sparql?default-graph-uri=&query=SELECT+distinct+%3Fg+%3Fplace+count%28distinct+%3Fs%29+as+%3Fcount%0D%0AWHERE+%7B%0D%0A++graph+%3Fg+%7B%0D%0A++++++%3Fs+a+ecrm%3AE12_Production+.%0D%0A++%7D%0D%0A++%7B+%3Fs+ecrm%3AP8_took_place_on_or_within+%3Fl%0D%0A+++++%7B+SELECT+%3Fl+SAMPLE%28%3Floc%29+a

[2019-12-16 15:01] DominicClermont opened #38 "Broken image links"
Some of the image links from the URL field in the knowledge graph seem to be broken. All URLs are referring to the silknow server (http://silknow.org/silknow/media/...). I'm appending a .txt file with all image links that seem to be broken.
[missing_links.txt](https://github.com/silknow/converter/files/3968629/missing_links.txt)

Every line in the file lists one URL as well as the identifier we ar

[2019-12-16 15:18] rtroncy commented on #38
We seem to be not done even though we have closed the famous issue #13! Looking at the txt file, I see that some mistakes clearly come from the converter code in the way it builds the deeplink pointing to the image hosted on the silknow media server, while some other mistakes may come from @javier-sevilla.

@pasqLisena Can you have a look at the converter code and report on the errors you can see?

[2019-12-16 16:00] javier-sevilla commented on #38
Hello @pasqLisena

Asap you send the file we work to solve the broken links.

[2019-12-17 16:47] pasqLisena commented on #38
## MFA

Most of the external image links are of the type:

`https://mfas3.s3.amazonaws.com/styles/fair_use/s3/objects/<IDENTIFIER>.jpg?itok=<ITOK>`

The ITOK is an access token generated by Drupal -- [read more](https://ma.ttias.be/drupals-itok-parameters-explained-varnish-workaround-different-backends/).

Anyway, this ITOK part is not anymore on the website, in which the image URI has changed to:

[2019-12-17 20:26] rtroncy commented on #38
Excellent work @pasqLisena! My summary of your investigation:
- MFA: we need to solve issue https://github.com/silknow/crawler/issues/10, the re-crawl (records + images), re-convert in RDF and put the new images on the media server. This will not be done before next year.
- CERES: this is all good on our side, so this is for @javier-sevilla to check why those files are not served. @javier-sevilla

[2019-12-17 21:16] rtroncy opened #39 "UNIPA: update the converter for 'warp', 'weft' and 'construction'"
@tschleider Can you please update the UNIPA converter since the mappings have been updated tonight (see https://docs.google.com/document/d/1acGECbA7AE8CS8b8ZG5JROZSyyWYTCW-IW7jYYfgIPQ/edit#). In particular, the fields 'warp' and 'weft' now describe materials and 'construction' and 'tecnic' describe techniques.

[2019-12-18 08:58] pasqLisena commented on #38
We can also do a DELETE query on the DB in order to remove from now all the wrong links.

And take into account that for MET there are still good links that are not found http://silknow.org/silknow/media/met-museum/19724a.jpg

[2019-12-18 09:04] javier-sevilla commented on #38
We'll do it, today is a busy day, but we try will be finished tomorrow maximum.

[2019-12-18 13:00] rtroncy commented on #38
Correct! A DELETE patch could indeed work. We would need to be cautious though, since those are cases where the museum record has **no** illustrating images. If I'm taking your example of the object identified by `<http://data.silknow.org/object/6dae100b-21f5-316f-b435-fa6134393145>`, this would mean not only deleting the object `<http://data.silknow.org/object/6dae100b-21f5-316f-b435-fa6134393145

[2019-12-18 14:08] pasqLisena commented on #38
Well, next time that we load the dump, there will be a new dump :) So I would not do it on the dump

I would do the DELETE query, if this help @DominicClermont in his work

[2019-12-18 15:13] pasqLisena commented on #13
For completeness, since 0d3e897 the Images in Garin may have a `P2 has type` with `anverso`, `reverso` or `detail` as value. You may probably want to change the first 2 in `recto` / `verso` in the future

[2019-12-18 15:21] pasqLisena commented on #38
## GARIN

There were 2 problems here (both fixed in 0d3e897).

#### Badly parsed uppercase `.JPG` (that was leading to `.JPG.jpg`

Before: http://silknow.org/silknow/media/garin/GP01043_ANV.JPG.jpg
Now: http://silknow.org/silknow/media/garin/GP01043_ANV.jpg

However, this link is still not working and neither is
http://silknow.org/silknow/media/garin/GP01043_ANV.JPG

#### Files with 2 whitespaces

[2019-12-18 15:31] pasqLisena commented on #38
## Summary

Summary of my investigation

  | probably problem about img copy | need new run of crawler | need new run of converter | need new copy of imgs after crawling/conversion
-- | -- | -- | -- | --
ceres | x |   |   |  
garin | x  |   | x |  
imatex | x |   |   |  
met | x | x | x |  
mfa-boston |   | x | x | x
vam | x |   |   |  

In particular for MET, the problem I described in [my previo

[2019-12-18 21:00] rtroncy commented on #38
OK, please, go ahead.

[2019-12-18 21:02] rtroncy commented on #38
Thanks for those fixes. I confirm that we agreed to lower case the extension, so `.jpg` and not `.JPG`.

[2019-12-18 21:03] rtroncy commented on #38
@javier-sevilla Can you please read carefully this entire github thread and let us know precisely what you will do? This is relatively urgent for @DominicClermont !

[2019-12-18 21:05] rtroncy commented on #13
I agree and I'm therefore re-opening this issue that should be closed only when the value of the `P2_has_type` property will be converted into English (or a controlled vocabulary).

[2019-12-18 21:36] rtroncy opened #40 "URI design pattern for identifying images is inconsistent"
The following query illustrate the problem:
[code]
[results](http://data.silknow.org/sparql?default-graph-uri=&query=select+%3Fg+%3Fimg%0D%0Awhere+%7B%0D%0A+graph+%3Fg+%7B+%3Fimg+rdf%3Atype+ecrm%3AE38_Image+%7D%0D%0A%7D%0D%0Agroup+by+%3Fg%0D%0Alimit+100&format=text%2Fhtml&timeout=0&debug=on)

One can observe that the identifier of the image is sometimes:
1.  `<http://data.silknow.org/image/UUID>`

[2019-12-19 09:35] javier-sevilla commented on #38
Sure, we try to do it during this morning.

[2019-12-19 10:10] pasqLisena commented on #38
Done. Query here

[code]

[2019-12-19 14:07] pasqLisena commented on #13
We go for recto/verso or we need an agreement between SILKNOW project members?

[2019-12-19 14:59] javier-sevilla commented on #38
Hello @DominicClermont

I think that there is problem, I'm not sure if you are using a updated data, or something wrongs happens.

We were starting to check the files you have sent and:

- vam files, it is right that files are not in the media server, but those files are not in the tar.gz file provided by EURECOM, which content is copied in the media server. Well we check the first files of the li

[2019-12-19 16:01] rtroncy commented on #13
We go for recto/verso.

[2019-12-19 16:12] rtroncy commented on #38
@javier-sevilla I have updated your github message (once more) for better readibility @DominicClermont is just taking links out of the knowledge graph and dumps from owncloud. I will further investigate, but, once more @javier-sevilla can you tell us precisely where are the latest version of everything? I remind you that owncloud is still a mess, despite our numerous messages. Let's start by clean

[2019-12-19 16:24] #40 closed

[2019-12-20 09:46] javier-sevilla commented on #38
I'm going to delete the temporal folder and create a folder for dumping crawled data. Like we talked in Hanover meeting, all the files in that folder must follow a format that shows the date of the file.

This format could be: `yyyymmdd.museumName.type.extension`

For instance, if the mfa museum is crawled again today, you must upload the files:

- 20191220.mfa.media.tar.gz
- 20191220.mfa.records.

[2019-12-20 12:51] rtroncy commented on #38
@javier-sevilla I have edited on github.com your previous email since it was containing mistakes! Please check. The markdown formatting is also not applied since you did a reply by email. Please, do NOT do this. Markdown formatting is not supported when doing email reply.

[2020-01-07 16:04] tschleider commented on #38
@javier-sevilla
I just checked the owncloud and I cannot find any dumps anymore? Also the version of Garin that you yourself modified seems to be gone?

If you have a backup, could you restore it? We said please delete old files in the /Data/ folder but COPY the dumps from the temporary folder (which has also been deleted).

[2020-01-08 08:40] javier-sevilla commented on #38
Yes I'll restore it in a while.

[2020-01-09 15:30] tschleider commented on #3
@AvgustinKastelic
Could you give me a status update for the handover?

[2020-01-09 16:21] tschleider commented on #39
It's implemented and needs to be reconverted. According to the mapping file a new path has been added to all the mentioned fields, but the old one is still in the google doc, therefore I implemented it exactly like this.

[2020-01-09 16:32] rtroncy commented on #39
@tschleider Your message is not clear since it is not obvious to know what is old and what is new. Can you point out precisely what the implementation looks like now and why you think the previous preserved path mappings are overlapping or causing a problem (if any)?

[2020-01-09 16:35] tschleider commented on #27
Ok, I tried to investigate into this, but it seems that there is still a problem with the IDs, I found now proof that the IDs given by Imatex do not always make sense, so sometimes different files with different file numbers have the same ID although they describe different objects.

Example:

ID 83 is given both for files 5679_en.json and 5678_en.json and therefore also in the KG.

Another proble

[2020-01-09 22:18] tschleider commented on #39
@rtroncy : For 'weft' the Google doc says this for path, which are actually two paths, so i just added a rule in the code:

S4_Observation 08 observed E22_Man-Made Object
S4_Observation P3 has note E62_String
S4_Observation P2 has type E55_Type (Trama)
S4_Observation P14 carried out by E39_Actor P131 is identified by E82_Actor Appellation (Roberta Civiletto)

E12_Production P106 has produced E22_M

[2020-01-09 22:40] tschleider commented on #39
Actually I think we misunderstood something here, according to some mapping notes, Marie is suggesting to map the substring "seta" as material, which is just one word in the textual field "weft", so it's not the whole field. It's a bit confusing, I tried to comment on it in the mapping documents. Compare the mapping docs for CERES e.g. https://docs.google.com/document/d/1qecnBVqxtTQ5GC4LRITixGdiLF

[2020-01-10 15:56] tschleider commented on #3
@rtroncy
@pasqLisena  and me tried to extend the string2vocabulary mechanism we have for the SILKNOW, Getty and Geonames thesaurus to Perio.do and in general it works. We do, however, have some limitations due to perio.do itself. I will generate a list with most common strings in our KG, also labelled by language and ask them to create a few more time periods according to this, because otherwise t

[2020-01-14 15:08] tschleider commented on #19
@mpuren
sorry for my very late answer! I went over it again and could not find any examples for "found in", so either i mixed it up with "founded", as some locations strings included that word. Or I just assumed it could be possible in cases where we do not have extra information, but of course I am not an expert.

It was in all cases a consideration that in many cases the location is not 100% cle

[2020-01-14 15:36] tschleider commented on #10
I looked into the "weaving" example and it has simply to do with the original json file having the string "woven" and getty having it as an alt label for "weaving" and our thesaurus entry does not.

I will write an email to ask the domain experts to have a look.

[2020-01-17 12:53] rtroncy opened #41 "Interpreting fuzzy location and clarifying if the location is the production place or something else"
This is a follow up of issue #19.

In some occasion, a place name may be preceded by a modal operator (such as 'maybe'). This first prevents an effective interlinking with Geonames but more importantly, it should be captured in the model.

Further, we always interpret the mention of a location as the production place of the object. This interpretation needs to be assessed by domain experts during

[2020-01-17 12:53] rtroncy commented on #19
I'm closing this issue. Follow-up work should be done in issue #41.

[2020-01-17 12:53] #19 closed

[2020-01-17 12:57] rtroncy commented on #27
After closest inspection, there is no reason to think that IMATEX has not a proper internal ID mechanism we can rely on. The conclusion of this investigation is that we MUST re-think the way we generate UUID, avoiding to rely on filenames but rather relying on internal ID of museums. This is high priority task.

[2020-01-17 13:02] rtroncy opened #42 "Document the URI policy being used in the knowledge graph"
We do create a number of URIs for identifying every object in the SILKNOW knowledge graph. The recipes for creating those URIs should be documented in a proper `URIPolicy.md` file in the root of the repo.

Such a documentation will also help resolving issue #27

[2020-01-17 13:06] rtroncy commented on #39
Indeed, clarifications are needed, in particular if this requires a complex interpretation of this field value. Please, update this issue after your call.

[2020-01-17 13:48] rtroncy commented on #3
As we have discussed, this approach will ultimately not be suitable in numerous cases, since, in your concrete example, the URIs http://n2t.net/ark:/99152/p086kj97q3t and http://n2t.net/ark:/99152/p086kj9t437 refer to respectively the 16th and 17th century in South Carolina! perio.do seems to be lacking encompassing periods, since it always tries to bind one with a geographical area, which makes l

[2020-01-20 15:43] tschleider commented on #36
I reconverted Joconde (which goes very quickly) but it actually concerns VAM. Will reconvert VAM then, too.

[2020-01-20 16:03] tschleider commented on #38
@DominicClermont : we re-converted and uploaded the datasets for MET and GARIN, could you check if it's better now?

For the rest there is still more work / testing to be done, I will maybe also create a small script to verify the image URIs myself

[2020-01-21 13:20] tschleider commented on #36
Solved. Check the query again: [Query showing all place names belonging to France](http://data.silknow.org/sparql?default-graph-uri=&query=SELECT+distinct+%3Fplace+count%28distinct+%3Fs%29+as+%3Fcount%0D%0AWHERE+%7B%0D%0A++++++%3Fs+a+ecrm%3AE12_Production+.%0D%0A+%0D%0A%0D%0A+%7B+%3Fs+ecrm%3AP8_took_place_on_or_within+%3Fl%0D%0A+++++%7B+SELECT+%3Fl+SAMPLE%28%3Floc%29+as+%3Fplace%0D%0A++++++++++WHE

[2020-01-21 13:20] #36 closed

[2020-01-21 13:44] tschleider commented on #39
We agreed to leave one path only per field, but to store possible more detailed paths (once entities can be linked) for the future in another document ( https://docs.google.com/spreadsheets/d/1Zn7KDB6nsx7YuYLokw5qyepp8ekONYfS8Oyr_IXrOac/edit#gid=0 ).

Therefore there are no new mappings for UNIPA to be implemented and this issue can be closed. In general there are still mappings not reflected in t

[2020-01-21 13:44] #39 closed

[2020-01-21 15:22] tschleider commented on #38
Thanks to @pasqLisena  and @ehrhart  we could make quite some progress on this:
We reduced the amount of dead links from over 1600 to less than 600.
[silknow-urls-missing.txt](https://github.com/silknow/converter/files/4091651/silknow-urls-missing.txt)

For the remaining ones:

There is a big group of VAM links that are broken due to VAM, which means the links are also dead on their website and th

[2020-01-21 16:10] rtroncy commented on #39
@tschleider Can you create a new issue for the case where a given metadata input field needs more complex processing since it typically contains mixed information (e.g. material and technique) yielding different paths in the graph? You could use https://docs.google.com/spreadsheets/d/1Zn7KDB6nsx7YuYLokw5qyepp8ekONYfS8Oyr_IXrOac/edit#gid=0 as the basis.

[2020-01-24 08:49] pasqLisena opened #43 "Paris as a date"
There are cases in which the name of a place appears as TimeSpan label
Example: http://data.silknow.org/production/3a85dbe6-0b05-3faf-88de-21cbfdedcc75/time/2

This is clearly the production place.
Probably we can try to run a GeoNames matching in order to minimize these cases.

[2020-01-24 12:52] rtroncy commented on #43
Good catch! This is the record ID = 849029 in the MAD source. @tschleider can you check and write here the original source to see if this is a bug in our mappings/code or if the original source has misleading information?

In general, I'm hesitant to fix potential mistakes from the source.

[2020-01-24 13:29] pasqLisena commented on #43
Take into account that there are lots of cases like that.

[2020-01-24 13:34] rtroncy commented on #43
You mean that there are a lot of cases where a probable place name is used to label a time span? Interesting! Someone dares to write the query to highlight the situation per museum source?

[2020-01-24 13:51] pasqLisena commented on #43
It is hard to write a query (because you would need to disambiguate).

Give a look to Paris situation (change pages):
http://data.silknow.org/fct/facet.vsp?sid=554&cmd=prev&offset=&limit=20

[2020-01-24 15:30] tschleider commented on #38
Newest update: 381 dead links remaining.
[silknow-urls-missing.txt](https://github.com/silknow/converter/files/4109201/silknow-urls-missing.txt)

@DominicClermont : That's counting with our methods. Feel free to check if the situation is improving or if you're having a different experience!

[2020-01-24 15:46] tschleider commented on #43
@rtroncy  and @pasqLisena : thanks for the infos, this is related to #5 , an "old" an complicated bug to completely solve. However, right now it's probably not handled optimally either way. As this one field could possibly contain either a time span or a location I create a path for both in all cases to catch some true positives:

[code]

The original field for 849029.json looks like this:

[code]

[2020-01-24 15:49] tschleider commented on #3
We made some progress here as it now (almost) works out of the box with Getty AAT, @pasqLisena  works on an update of string2vocabulary for that.

However, time periods are exclusively English on Getty AAT. Our solution is to create a local copy and modify it to include Italian, Spanish and French translations of the most common periods as skos:altLabels for now.

In the long-term we should sugges

[2020-01-24 20:38] rtroncy commented on #38
@tschleider Great. Can you provide explanations for the various cases that remain? I can understand that a original link pointing to a media from the museum web site is now a 404, but I cannot understand why a local link could be broken. Also, can you provide an explanation of how you resolve what used to be dead links?

[2020-01-24 20:42] rtroncy commented on #43
So, this is the case where a single field contains multiple information that needs to be split first and then interpreted before deciding which path should be instantiated. For sure, creating systematically two paths is wrong.

Can you provide an explanation of how we should interpret the `Création` values? Do you always find an array with 4 values? To what correspond those 4 values? Do you always

[2020-01-24 20:45] rtroncy commented on #3
Yes, this is an excellent idea! To progress on the translation, you should output a CSV containing all the English period names found in the data. Then, load this CSV in a google spreadsheet so our experts from UVEG, UNIPA and CNRS can help in the translation.

[2020-01-28 15:08] tschleider commented on #43
No, it's tricky. It's an arbitrary number of values and the positions are not fixed. Sometimes the first value is the city, sometimes it's the Country (and no city). Sometimes some of the values are empty strings, but exist in the array, sometimes not. The array has from what I have seen between 2 and 5 values. The last value is often a year or time span, but sometimes the name of a person (probab

[2020-01-30 16:05] tschleider commented on #35
This [query](http://data.silknow.org/sparql?default-graph-uri=&query=%0D%0A%0D%0A%0D%0ASELECT+count%28+%3Ftype%29+as+%3Fcount+%3Ftype%0D%0AWHERE+%7B%0D%0A%0D%0A+%0D%0A+%0D%0A++++++%3Fs+ecrm%3AP2_has_type+%3Ftype+.%0D%0A%0D%0A%0D%0A%0D%0A%7D%0D%0AGROUP+BY+%3Ftype%0D%0AORDER+BY+DESC+%28%3Fcount%29%0D%0A%0D%0A%0D%0A&format=text%2Fhtml&timeout=0&debug=on) gives an overview of where we are standing.

A

[2020-01-30 16:22] tschleider commented on #37
With
[code]

I get these [results](http://data.silknow.org/sparql?default-graph-uri=&query=%0D%0A%0D%0A%0D%0ASELECT+distinct+count%28%3Fs%29+as+%3Fcount++%3Flink%0D%0AWHERE+%7B%0D%0A%0D%0A+%0D%0A++++++%3Fs+a+ecrm%3AE17_Type_Assignment+.%0D%0A%0D%0A++++++%3Fs+ecrm%3AP42_assigned+%3Flink+.%0D%0A%0D%0A%0D%0A%0D%0A%7D%0D%0AGROUP+BY++%3Flink%0D%0AORDER+BY+DESC+%28%3Fcount%29%0D%0A%0D%0A%0D%0A&format=te

[2020-01-30 16:24] pasqLisena commented on #35
So, first of all, everything should go lowercase.

Then, for sure we can firstly attack everything that has >1000 occurrences, trying also to merge multilanguage (e.g. "Description" and "Descripción") under a unique identifier
 

[2020-01-30 16:37] tschleider commented on #35
Thanks, yes, I agree with this, but I thought more about the question of what concepts should be in it and which ones look completely wrong for this property (which means it needs to be left out of this vocabulary and we need to look at the mapping rules).

[2020-01-31 17:50] tschleider commented on #38
Added the "schema:error" property to every E38_Image class with a dead external link ( based on a new functionality of the Crawler thanks to @ehrhart ) . The generation of an internal link will be prevented as well. This should remove most of the remaining dead internal links.

@rtroncy : It's indeed a broken original link as far as we could see. We did not have a mechanism to detect this and prev

[2020-01-31 21:03] rtroncy commented on #38
The https://schema.org/error property is certainly not a wise choice, as it should be applied on Action! I still don't really understand the issue. If the crawler has, at least once, got the images, then we have a local copy and we cannot have a dead link. Having external dead links is not a problem.

[2020-02-02 12:04] tschleider commented on #38
What would be wiser? I do not know which property would be better, as I indeed want to signalise a failed action: the attempted image download with a dead link by the crawler.

Having external dead links is not a problem? I thought maybe it would be great to mark the dead links somehow, that's why I added it. If it's not I can just remove it. Internal links are not longer generated for dead links,

[2020-02-02 17:09] rtroncy commented on #38
Knowing whether an external link is dead at a particular moment in time is a dead cause. It would require to do GET or HEAD check regularly for little benefit. I would simply save in the knowledge graph the external link as it is at the time of crawling and, of course, materialize the local copy link. This one will always work.

Therefore, please check that ALL records have illustrating images tha

[2020-02-03 09:57] DominicClermont commented on #38
@tschleider I have repeated our procedure of downloading the images. I started with getting the latest list of links using the query at api/queries/wp4/imageURLs.sparql. The first thing I noted was that this list now (28.01.) has around 4.000 fewer records than when this thread started.

Concerning the links, with our counting method we find 6.452 records with dead links:
[missing_links_new.txt](h

[2020-02-03 11:02] tschleider commented on #38
I am in the middle of reconversion and reupload right now actually,
especially for these datasets you mentioned.

It should all be ready around Wednesday.

[2020-02-03 21:57] rtroncy commented on #38
@tschleider I thought this was a solved issue. Are you sure, as well, that all images that have been crawled, have been copied and are locally served from http://silknow.org/silknow/media/xxx?

@DominicClermont should not have to check since you can do it yourself with a simple [HEAD request](https://riptutorial.com/javascript/example/15188/check-if-a-file-exists-via-a-head-request) for each file

[2020-02-03 22:26] tschleider commented on #38
@rtroncy all different cases that we have found are solved from a coding and media server perspective, both in the crawler and converter, but we needed quite some re-crawls and re-conversions on the way and it's not done today. I will confirm and close once we cannot find any broken links anymore. I can give an exact update tomorrow.

Of course we can check ourselves, maybe I formulated it not cle

[2020-02-04 14:21] tschleider commented on #38
Status:
Right now we have 17318 broken links due to the fact that we completely re-uploaded re-crawled all images after several bugfixes in both the crawler and the converter the last weeks.

The good news: There are 0 dead links except for Imatex, RISD and MFA right now, which means nothing unexpected anymore. We just uploaded the new image format too early without waiting for the full conversion

[2020-02-05 13:54] tschleider commented on #38
Now there are finally 0 dead links, as far as we can see.

@DominicClermont : We realised that (at least) MFA changed their classification of what is a "textile" (which is the only category we crawled - instead they put some of these objects into more fine-grained categories like "costumes" etc. ), which means several thousand less records than in December, so some of your observations of less rec

[2020-02-05 14:09] tschleider commented on #27
Making the UUID generation depend on the internal ID did unfortunately not change anything about how many objects we find for Imatex. I will slowly change the ID mechanism from filename to internal ID for the next reconversion, but I think for Imatex the problem still lies somewhere else.

[2020-02-05 14:12] tschleider commented on #43
I deactivated the "Creation" field in MAD until we have a proper solution. Therefore "Paris" and other wrong strings will not appear as time span anymore. As there is #5 for it I suggest to close this issue here.

[2020-02-05 14:13] rtroncy commented on #38
This is indeed another topic. I suggest you write an email to the list and in particular to Jorge to ask for his opinion whether the crawl should be enlarged or not giving him examples of additional objects that could be retrieved if we decide so.

I'm very happy to close this issue now.

[2020-02-05 14:13] #38 closed

[2020-02-05 14:14] tschleider commented on #21
I realised I cannot do this until the Silknow Thesaurus differentiates clearly between Technique and Material in a machine readable way.

[2020-02-05 14:44] rtroncy commented on #27
Let's wait for your re-implementation **and** documentation regarding the way the SILKNOW UUID is generated (from museum internal IDs).

Next, can you put again a concrete example illustrating the remaining problem (or its manifestation if we cannot phrase what the problem is) for IMATEX? This is unclear to me.

[2020-02-05 14:49] rtroncy commented on #21
What concrete actions do you recommend to the thesaurus maintainer? To create high level concepts so that the thesaurus either branches in material or branches in techniques? Is it not already the case thanks to the hook to Getty?

[2020-02-06 16:16] tschleider commented on #42
[Here](http://data.silknow.org/sparql?default-graph-uri=&query=SELECT+count%28%3Fs%29+as+%3Fcount+%3Ft%0D%0AWHERE+%7B+%0D%0A++++++%3Fs+a+%3Ft%0D%0A%7D%0D%0AGROUP+BY+%3Ft+%0D%0AORDER+BY+DESC+%28%3Fcount%29&format=text%2Fhtml&timeout=0&debug=on) is the query that shows the count of all URI types used right now.

[2020-02-06 16:18] rtroncy commented on #42
You should of course restrict this query to the useful graphs as opposed to query the entire triple store. For example, you can exclude the ontology and thesaurus and only query the museum graphs

[2020-02-06 16:43] tschleider commented on #42
[Here](http://data.silknow.org/sparql?default-graph-uri=&query=SELECT+count%28%3Fs%29+as+%3Fcount+%3Ft%0D%0AWHERE+%7B+graph+%3Fg+%7B+%0D%0A++++++%3Fs+a+%3Ft%0D%0A%0D%0A%0D%0AFILTER+%28contains%28str%28%3Fg%29%2C+%22mad%22%29+%7C%7C+contains%28str%28%3Fg%29%2C+%22mtmad%22%29+%7C%7C+contains%28str%28%3Fg%29%2C+%22joconde%22%29+%7C%7C+contains%28str%28%3Fg%29%2C+%22imatex%22%29+%7C%7C+contains%28str%

[2020-02-06 16:50] rtroncy commented on #42
So, you see, this type of query helps to identify bugs :-)

- search why you have one occurrence of <http://data.silknow.org/title> and <http://data.silknow.org/html>
- is it normal to have a different count between E22 and D1? Should we not have an exact 1-1 relationship?
- do you really have this number (64811) as physical image files in the media server?
- why do you have 419 instances of ```fo

[2020-02-06 20:19] tschleider opened #44 "MET+Joconde: Reference mechanism can be implemented"
These two datasets (MET and Joconde) refer to other objects, what we still need to reflect in the KG.

Corresponding issue #4 needs to be reviewed and closed soon (after some confirmation), as its remaining parts should be treated in this issue

[2020-02-06 20:20] tschleider commented on #42
I cannot find anything on that. I looked for "html" and "title" in the whole project and could not find anything. @pasqLisena do you have an idea where this could come from?

There is a certain "reference" mechanism in Joconde that creates a second E22 per D1 at least in some cases. The difference from Joconde alone with this is 177. The remaining one comes from Garin actually. I did not code thes

[2020-02-07 07:18] rtroncy commented on #42
I don't understand this explanation. Once we crawl an image, an instance of E38 is generated. This instance will have systematically two locators for the media, a local link (always working) and the original link from the museum media server that may be dead soon after. But this does not explain why we have **less** instances of E38 than there are local media files. What am I missing?

[2020-02-07 10:24] tschleider commented on #42
E38 is only generated during conversion not during the crawl and the crawl includes dead links, just as they are on the website or given by the API. So every E38 always has an external link that might have been always dead, even during the crawl (that's why I added schema:error to reflect that) and then in addition a local Silknow link, but only IF it was not dead during the crawl and we could dow

[2020-02-07 11:35] rtroncy commented on #42
Thanks for the additional explanation. I previously thought that we always add at least one local image illustrating a record we have crawled but you are now saying this is not always the case! This should not be represented in the knowledge graph but this should be flagged in the output of the crawler somehow (maybe in a log, ideas welcome @ehrhart !)

[2020-02-07 15:01] ehrhart commented on #42
The crawler already flags dead links with the `hasError` property in the JSON record file. For example, with Imatex:

[code]

[2020-02-07 21:05] rtroncy commented on #42
Great! @ehrhart Can you count over all JSON records of all museum crawls the number of occurrences of ```"hasError": true```?

@tschleider 65316 local images should already make 65316 instances of the E38 class. In addition, you should have a number of additional instances of E38 class for which you never got an image. However, you have only 64811 instances of E38. You're missing 505 + an unknown

[2020-02-10 08:08] tschleider opened #45 "General: We need a property for sourcing the museum object in the Graph"
Currently, the museum is just retrievable by its named graph URI, but not as a direct property inside the graph. Once we replace the internal UUID generation from filename to internal museum ID we also need an information about the original JSON file name inside the graph.

[2020-02-10 09:22] pasqLisena commented on #43
Omho, this means that we should not close the issue and keep it open at least as a reminder

[2020-02-10 09:36] pasqLisena commented on #42
Hey, this is a simple query!  -- [results](http://data.silknow.org/sparql?default-graph-uri=&query=select+*+where+%7B+%3Fs+a+foaf%3ADocument+%7D+limit+10&format=text%2Fhtml&timeout=0&debug=on)

[code]

Those records are part of the GeoNames data

[2020-02-10 09:36] tschleider commented on #43
@pasqLisena  I don't mind it being open, but with #5 it's redundant, isn't it?

[2020-02-10 09:39] ehrhart commented on #42
`grep -lr '"hasError":true' ./**/records` gives me [747 occurrences](https://github.com/silknow/converter/files/4180020/hasError.txt).

[2020-02-10 09:39] tschleider commented on #42
@pasqLisena : Oops :) and thanks

[2020-02-10 09:43] pasqLisena commented on #42
It seems those cases come from the met data. -- [results](http://data.silknow.org/sparql?default-graph-uri=&query=SELECT+*%0D%0AWHERE+%7B%0D%0A++graph+%3Fg+%7B++%0D%0A%3Fs+%3Fp+%3Fq+.%0D%0A++++%3Fs+a+%3Chtml%3E%0D%0A%7D%0D%0A%7D%0D%0A&format=text%2Fhtml&timeout=0&debug=on)
[code]

@tschleider Can you search in the met output? E.g. with
[code]

[2020-02-10 09:45] pasqLisena commented on #43
I lost this. So closed because duplicated of #5

[2020-02-10 09:45] #43 closed

[2020-02-10 09:50] pasqLisena commented on #45
What about [schema:publisher](https://schema.org/publisher) or [dcterms:publisher](http://purl.org/dc/terms/publisher) or [dcterms:creator](http://purl.org/dc/terms/creator) attached to the `E31_Document` entities?

[2020-02-10 10:31] tschleider opened #46 "Estimate the number of records that apparently mention multiple production locations"

[2020-02-10 13:04] tschleider commented on #42
@pasqLisena : thanks, but the output is empty

@rtroncy : I realise that I mixed up the image numbers in my head, so my explanation makes indeed no sense. I remember there are some redundant images in the wrong format on the server, I'll try to remove them.

[2020-02-10 14:16] ehrhart commented on #42
I did some quick search and the issue is in `./met/geonames/2935022.rdf`, which contains HTML data instead of RDF (I assume these files are generated from multiple request to geonames API and the API probably failed for this particular call)

Extract from `./met/geonames/2935022.rdf`:

[code]

Hope that helps.

[2020-02-10 14:23] pasqLisena commented on #42
Thanks @ehrhart !
This is a weird TIMEOUT Geonames error, because for the rdf download there is no quota (while for the api yes).

A new run should clean this

[2020-02-10 16:05] rtroncy commented on #45
+1 for using  [schema:publisher](https://schema.org/publisher) or [dcterms:publisher](http://purl.org/dc/terms/publisher)!

But why attaching this property to `E31_Document`? There is only the [Joconde museum that seems to have instances of this class](http://data.silknow.org/sparql?default-graph-uri=&query=select+*+%0D%0Awhere+%7B+%0D%0A+graph+%3Fg+%7B+%3Fs+a+ecrm%3AE31_Document+%7D%0D%0A+%3Fs+ec

[2020-02-10 16:09] pasqLisena commented on #45
Well, formally the museum is not the publisher of the `E22_Man-made_Object` but of the record describing it. It is surprising to me that there is no `E31_Document` in general.

[2020-02-10 19:13] rtroncy commented on #45
You're absolutely right, the museum should not be the publisher of the `E22_Man-made_Object` but of the `D1_Digital_Object` which is materializing the record (French _notice_)

[2020-02-11 09:19] pasqLisena commented on #45
Ah right, Digital Object!

[2020-02-12 10:29] tschleider commented on #42
Ok I finished the [document](https://github.com/silknow/converter/blob/master/URI-patterns.md).

As discussed already, the remaning URI types come from GeoNames, shall I include them/explain them as well?

[2020-02-18 17:07] tschleider commented on #37
@rtroncy : I created a sheet to have an overview here, too. [Link ](https://docs.google.com/spreadsheets/d/1pYT9ExzYgOb6gs7xzyNXAZuVOHFCTWG2baAZaeJhlRU/edit#gid=0)

The tabs show all the cases of links with Getty AAT and all the cases of strings that could not be matched so far. I would suggest to deactivate the Getty AAT linking for the next reconversion to have a better overview about the actual

[2020-02-19 16:20] tschleider commented on #46
After running the following query

[2020-02-19 16:25] tschleider commented on #46
With the following query
[code]

We know that right now we have [2099](https://github.com/silknow/converter/files/4226031/multipleplaces.txt) instances of E12_Production with multiple production places out of [27992](https://github.com/silknow/converter/files/4226036/production_with_places.txt) with at least one production place in total.

[2020-02-27 17:04] tschleider commented on #42
Update with section on the image UUID

[2020-02-27 17:10] tschleider commented on #35
I started with a controlled vocabulary solely for P2_has_type of E17 Type Assignment to catch occurrences of strings like "Domain" and implemented it already. See the [vocabulary file](https://github.com/silknow/converter/blob/master/src/main/resources/vocabulary/types.ttl) for this here.

In general I updated the [google sheet](https://docs.google.com/spreadsheets/d/1LluKm144G5bKl4AdzVF8_ARtda7E0

[2020-02-27 17:12] tschleider commented on #45
We now have a property `dc:publisher` attached to D1 objects pointing to the museums identified by
http://data.silknow.org/organization/ + DATASET_NAME

[2020-02-27 17:12] #45 closed

[2020-02-27 17:14] tschleider commented on #27
I implemented the way the D1 URI is created for all datasets based on internal ID. If no explicit internal ID is available we still take the filename + "_local_filename_id" as ID.

I will comment again for documenting the problem for IMATEX.

[2020-03-24 10:46] tschleider commented on #3
We need to consider other options to parse time expressions instead of matching them with an vocabulary.

[2020-03-25 15:16] #21 closed

[2020-03-25 15:47] tschleider opened #47 "Cleaning up fix for #21"
I hardcoded a big part of the fix for #21, the code should ideally fetch the same information dynamically from the Thesaurus file.

[2020-03-30 15:34] tschleider commented on #4
"galleryInformation": I updated the stats on the Google Drive:

https://docs.google.com/spreadsheets/d/1Pmk3B09lzsSBR1jq7stw0HPtT7deOwTxYYXC_dIxCPc/edit#gid=1246324626

401 out of 8364 have a specific information in that field (it used to be way less last year, but they updated their data). So the ratio is around 0,5%. I think Pierre is in favour to keep this field, but the mapping is using some o

[2020-03-30 16:59] tschleider commented on #44
We have a remaining discrepancy between Man_Made-Objects and Production (E22 and E12) of exactly 7 that I could track back to an old reference mechanism of Joconde. I deactivated it so the two numbers will be exactly equal after the next reconversion. From then I will add a new one that will not create new E22 Man_Made-Objects for records that are not crawled.

[2020-03-31 09:46] tschleider commented on #27
I made an analysis of the crawled IMATEX json files and it makes it clear that there is a bit of a problem with the internal IDs. We would expect 1 unique ID per object multiplied by 3 for the different files per object / languages (EN,ES,CA), but 289 of the internal IDs appear between 6 and 669 times. The ID that is used by 669 different files looks like this in the KG right now, e.g.: [Link.](ht

[2020-03-31 16:10] pasqLisena commented on #27
I think that the problem is here:
https://github.com/silknow/converter/blob/master/src/main/java/org/silknow/converter/converters/ImatexConverter.java#L72

The id is taken from `regNum`, that apparently can be null (This should be double checked).
In this case the id is not replaced and its old value is kept.

I think that in the past we were using the first part of the filename for being sure of

[2020-04-01 10:34] tschleider commented on #27
Thanks, you are right with the analysis. Before I opened this issue it was not only the first part of the filename but the whole filename (minus the extension but including the lanuguage code), which lead to problems, as well. What about the numerical part of the file name plus the internal ID, and of course a check if an internal ID exists at all?

[2020-04-01 11:43] pasqLisena commented on #27
This is super important. Crucial to avoid "null" strings.

Why this redundancy? The numerical part of the filename should be enough

[2020-04-01 13:08] tschleider commented on #27
See comment of @rtroncy above:
https://github.com/silknow/converter/issues/27#issuecomment-575615522

To sum it up: We tried the full filename (without extension) and it lead to problems (described in this issue), I tried to replace that with the internal ID, but for Imatex this is not enough because some IDs are missing / maybe there are even more problems.

Taken everything into account, for Ima

[2020-04-01 13:35] pasqLisena commented on #27
I strongly believe that this number is the numeric part of the filename

This has a high risk of collision (e.g. filename '234' and id '1' against filename '2341' without id).

Ok, I volunteer for making a full conversion of IMATEX on my computer, for looking at the results.
Where I can find the source files?
Are those big tar files in owncloud/Data ?

[2020-04-01 13:54] tschleider commented on #27
Ah wait, you mean the ID of the JSON, not the ID of the object? Then i'm also sure it should be the same, I think the crawler is coded that way.

Ok, I see. Then let's just finally use only the JSON id only and it should be fine.

Are those big tar files in owncloud/Data ?

Yes it's the archives with the word "record" in the filename there: https://silknow.uv.es/owncloud/index.php/apps/files/?dir=

[2020-04-07 14:17] tschleider commented on #27
I can finally confirm after the latest reconversion that we now have 6805 digital objects for Imatex instead of something like 6124.

Before I close I will have another look at Garin and maybe apply a similar fix to get as many digital objects as there are files..

[2020-04-09 14:09] #47 closed

[2020-04-22 08:30] tschleider commented on #46
I consider this to be solved since the update of the stat slides last week.
Here the sum up for this issue:

Objects with at least 2 values:
Imatex: 2576
VAM: 8
UNIPA: 7
Joconde: 1

[2020-04-22 08:30] #46 closed

[2020-04-22 08:33] tschleider commented on #10
Since the last Thesaurus update I see a big improvement in terms of normalisation / precision of the matches that seems to address a lot of issues. If you can confirm @rtroncy based on the slides, I would close this here as a specific issue for now? (It started as a different problem long solved anyway)

[2020-04-22 12:15] tschleider commented on #42
Updated (Today) and improved  [document](https://github.com/silknow/converter/blob/master/URI-patterns.md).

@rtroncy  : Let me know if there is more to improve / add, otherwise I suggest to close this issue.

[2020-04-22 14:04] pasqLisena opened #48 "E78 Collection and URI generation"
We discovered (thanks @ehrhart) that there are multiple E78 Collection item [sharing the same label](https://data.silknow.org/sparql?default-graph-uri=&query=select+distinct+*+where+%7B+%3Fs+rdfs%3Alabel+%3Flabel+%3B+rdfs%3Alabel+%22European+Sculpture+and+Decorative+Arts+%2843%2C014%29%22+%7D&should-sponge=&format=text%2Fhtml&timeout=0&debug=on&run=+Run+Query+).

This is because the [URI generatio

[2020-04-22 15:08] tschleider commented on #48
Thanks for documenting this so well, I am on it to check if these numbers can be ignored or not. (We actually skip them for other Fields / Properties in MET)

[2020-04-23 11:41] tschleider commented on #48
I checked the MET website and compared the number there with the same objects we have in the crawl and most are not identical. In fact, the MET website number is always a bit higher, but in a similar range I guess it's something like a count.

What's more important is that regardless of the number, there is only a specific amount of departments, and even if objects in the JSON / TTL files have dif

[2020-04-24 12:24] tschleider opened #49 "Several Images are the representation of more than one object: Possible Bug"
@DominicClermont made us aware that several images (106, all from MFA) appear as representation property of more than one man-made object.

@DominicClermont  gave us the [full list](https://github.com/silknow/converter/files/4528778/multi_objects_per_image.txt) of images with their object UUIDS where this appears, so that we can investigate this issue.

I checked [one image](http://silknow.org/sil

[2020-04-28 09:57] tschleider commented on #48
I followed your proposal and tested it with MET (changes will affect every dataset of course). I also remove the parentheses at the end of strings for MET.

Seed is generated by: dataset name + class + collection label

Can you confirm that this is what you had in mind @pasqLisena ? If nobody else objects I will then proceed with uploading. Then we can all test and if it's fine I will modify the d

[2020-04-28 12:10] pasqLisena commented on #48
I think yes!
So, basically the URI http://data.silknow.org/collection/9da6eaf6-44e5-312f-aeea-f952721bcd24 should appear in different files across MET dump

[2020-04-29 16:26] tschleider commented on #48
Ok we got it now:
https://data.silknow.org/describe/?url=http%3A%2F%2Ferlangen-crm.org%2Fcurrent%2FE78_Collection&sid=156

This shows that all E78 with the same label have the same URI, your initial query @pasqLisena  also shows that every label appears only once. If we are all happy with the result, I will add it to the URI policy file and close the issue.

[2020-04-29 20:20] tschleider commented on #48
Tested again and documented, therefore closing.

[2020-04-29 20:20] #48 closed

[2020-04-30 10:05] tschleider commented on #2
I created three queries, one for [E39_Actor,](https://data.silknow.org/sparql?default-graph-uri=&query=prefix+crmdig%3A+%3Chttp%3A%2F%2Fwww.ics.forth.gr%2Fisl%2FCRMext%2FCRMdig.rdfs%2F%3E%0D%0Aprefix+crmsci%3A+%3Chttp%3A%2F%2Fwww.ics.forth.gr%2Fisl%2FCRMsci%2F%3E%0D%0ASELECT+DISTINCT+%3Factor+%3Flabel%0D%0AWHERE+%7B%0D%0A%0D%0A++++%3Factor+a+ecrm%3AE39_Actor+.%0D%0A++++%3Factor+rdfs%3Alabel+%3Flab

[2020-04-30 10:17] tschleider commented on #49
Now the MFA website works again, so it's even easier to prove that MFA themselves assigned the same picture to different objects, see for example here

https://collections.mfa.org/objects/71055
and
https://collections.mfa.org/objects/71064
(there are five objects in total that share one of the two images)

What we have in the KG is literally how they have organised it internally: it is the same on

[2020-05-04 15:42] tschleider opened #50 "Not all crawled images have E38 image class / are in the KG"
As documented at https://github.com/silknow/converter/blob/master/URI-patterns.md
we only have 64716 instances of E38 Image in the KG, although we crawled (and uploaded) 65292 images.

[2020-05-07 08:00] tschleider opened #51 "Possible Time span bug: "ca. 1855 (made)" appears very often"
The following very precise query gives so many results, that it looks suspicious

[code]

[2020-05-13 13:26] tschleider commented on #51
@pasqLisena - Suggestion to close:
I checked through a lot of these digital objects, and checked their original JSON files.
In every single case this date is exactly set like this, so this means no bug.

Examples (look at rdfs:comment /P1 descriptions) :

https://data.silknow.org/describe/?url=http%3A%2F%2Fdata.silknow.org%2Fobject%2Fa38cd760-66a5-32cd-b22e-d1bb09b361dc

https://data.silknow.org/d

[2020-05-13 13:32] rtroncy commented on #51
The year [1855](https://en.wikipedia.org/wiki/1855) has been rich !

[2020-05-13 13:32] #51 closed

[2020-05-21 19:11] tschleider commented on #49
@pasqLisena  / @rtroncy : Shall we close this?

[2020-06-08 09:14] tschleider opened #52 "Some instances of the class Image (E38) have more deeplinks than they should have / deeplinks to the wrong images"
Spotted by @DominicClermont, we have cases of unique Image_E38 which have too many deeplinks / deeplinks to wrong images. Everything else about these E38 seems correct (having at least one deeplink to the right images plus being the representation of only one Man-Made Object (E22))

Example:

E22 Object: http://data.silknow.org/object/0a135684-ac43-3888-8fbd-c79dd061de73

with one representation (

[2020-06-08 09:16] tschleider commented on #52
While writing this, I found the solution: two records have the same internal ID so we have a collapse here. It's an error from Joconde, not from us, so I will just change the ID process from internal to JSON ID to make sure they are all unique and reconvert. Once it's uploaded and working I will close this.

[2020-07-09 09:54] tschleider commented on #3
Just an internal reminder to extend the labels to more centuries (e.g. 13th century)

[2020-07-09 09:56] tschleider opened #53 "URI scheme for museums graph should be changed"
Quoting @rtroncy  here:

"https://data.silknow.org/met is the identifier of a graph, right? If so, it is not a well-chosen pattern. http://data.silknow.org/graph/met would be better and we could add a dereferencing rule in Virtuoso for http://data.silknow.org/graph/* "

[2020-07-22 11:12] #52 closed

[2020-07-22 11:13] tschleider opened #54 "Numbers for E22 (Man-made object) and D1 (Digital Object), and numbers for E38 (Image) and image files on the mediaserver do not match"
**Query that shows all classes (discrepancy between E22 and D1 visible):**
[Link](https://data.silknow.org/sparql?default-graph-uri=&query=SELECT+count%28%3Fs%29+as+%3Fcount+%3Ft%0D%0AWHERE+%7B+graph+%3Fg+%7B+%0D%0A++++++%3Fs+a+%3Ft%0D%0A%0D%0A%0D%0AFILTER+%28contains%28str%28%3Fg%29%2C+%22mad%22%29+%7C%7C+contains%28str%28%3Fg%29%2C+%22mtmad%22%29+%7C%7C+contains%28str%28%3Fg%29%2C+%22joconde%22%

[2020-07-22 13:35] tschleider commented on #3
Overhaul with Wikidata Reconciliation necessary:
https://wdreconcile.toolforge.org/en/api

[2020-07-30 08:35] rtroncy opened #55 "Correlate clustering results distinguishing fabrics and non-fabrics with the type of the object"
Once the issue #37 is closed (see also this [spreadsheet](https://docs.google.com/spreadsheets/d/1pYT9ExzYgOb6gs7xzyNXAZuVOHFCTWG2baAZaeJhlRU/edit#gid=1289411589)), we should compare the information of the categorisation of each museum object with the results of the clustering made by @DominicClermont which are available [here](https://drive.google.com/drive/folders/1NigJ4PspYd7zFDv-ByunWyRmdAH69u

[2020-07-30 13:43] tschleider opened #56 "New mappings need to be integrated"
After @mpuren  and Pierre reworked some / all of the existing mappings I still need to implement some of the changes.

[2020-07-30 13:59] rtroncy commented on #56
This seems a very general issue. Is there a way to see the exhaustive list of changes that have been made? We can of course look at the history of each google document but this is not very convenient! Ideally, I would suggest to list of museum source with a checkbox in this github and to describe the changes that need to be dealt with so we can check the boxes upon commits.

[2020-07-30 14:04] tschleider commented on #56
@mpuren said she marked every change in the paths as red.

[2020-07-30 14:26] ehrhart opened #57 "Use httpS for images base URL"
Images URLs should use httpS (supported by the media server) instead of plain http.

**References:**
* https://github.com/silknow/converter/blob/8bd86589ee24d34ab86c9ef4f4e3c0bd34bb911d/src/main/java/org/silknow/converter/entities/Image.java#L10
* https://github.com/silknow/converter/blob/ae9cbf9715b4f5d5377569b3e0f6154327dc1198/src/main/java/org/silknow/converter/converters/GarinConverter.java#L1

[2020-07-30 15:05] rtroncy opened #58 "Extract sets of (dis)similar items for training the LUH module"
Process:

- Each positive and negative rules from this [document](https://docs.google.com/document/d/1n8PspkGENz55D8UXfVBP7jmUQc2NNRBV0DYyqkl4j64/edit) should be converted in a SPARQL query;
- SPARQL Transformer can be used to generate image gallery of the results enabling domain experts to validate the rules
- Once validated, a txt file listing all object URIs per set can be generated for LUH

Re

[2020-08-14 14:22] #10 closed

[2020-08-14 14:29] #49 closed

[2020-08-14 14:31] tschleider commented on #50
#54 is a more complete version of the same issue, I therefore close this here.

[2020-08-14 14:31] #50 closed

[2020-08-24 14:12] tschleider commented on #57
Done.

See e.g. [Link](https://data.silknow.org/describe/?url=http%3A%2F%2Fdata.silknow.org%2Fimage%2F857ec056-d06b-3012-9ced-8fb9548b18ad&sid=492)

[2020-08-24 14:12] #57 closed

[2020-08-24 14:21] tschleider commented on #53
Implemented, except for dereferencing rule in Virtuoso.

See e.g. [Link 1](https://data.silknow.org/describe/?url=http%3A%2F%2Fdata.silknow.org%2Fgraph%2Fimatex&sid=492) or [Link 2](https://data.silknow.org/sparql?default-graph-uri=&query=select+%3Fg+count+%28distinct+%3Fo%29+as+%3Fnb_obj+count+%28distinct+%3Fi%29+as+%3Fnb_images+%0D%0Awhere+%7B%0D%0A+graph+%3Fg+%7B%0D%0A+++%3Fo+a+ecrm%3AE22_Man-M

[2020-08-28 19:36] tschleider commented on #54
Update for E22 and D1:

Discrepancy is 11 and comes purely from having a D1 object each for the root of the graph:

http://data.silknow.org/graph/mfa
http://data.silknow.org/graph/mtmad
http://data.silknow.org/graph/risd
etc.

[2020-09-01 12:57] rtroncy commented on #3
See also https://github.com/schemaorg/suggestions-questions-brainstorming/issues/219 and around for handling uncertain dates

[2020-09-02 08:36] pasqLisena commented on #3
And how we manage uncertainty on DOREMUS: http://data.doremus.org/artist/e8e2694f-ead1-3d37-8895-2473a25f9858/birth/interval

[2020-09-21 16:30] tschleider commented on #18
This was more of a reminder to update the mapping, which has been done, but the mapping has changed since, suggest to close and continue as part of #56.

[2020-09-21 16:35] tschleider commented on #4
Mapping got changed in the meanwhile, but the new mapping requires new classes and properties.

@mpuren : I cannot remember if you read the statistics yet, that I created in March or if we ever talked about it?

[2020-09-29 13:32] tschleider commented on #53
The new scheme is now dereferencable: e.g. http://data.silknow.org/graph/met

[2020-09-29 13:32] #53 closed

[2020-12-08 14:56] rtroncy commented on #58
The document at https://docs.google.com/document/d/1n8PspkGENz55D8UXfVBP7jmUQc2NNRBV0DYyqkl4j64/edit# contains now both the SPARQL queries and their results

[2020-12-08 14:56] #58 closed

[2020-12-09 23:12] rtroncy opened #59 "Make sure that object Titles are properly converted"
A large number of museums do provide a title. However, we often do not find it in the KG which questions whether this has been properly implemented.

Reference document: https://docs.google.com/document/d/10Kht6Rv-_4iHshKOC_GR8rmKtcxtAX0ndw0XWxP8PcI/edit# (third column)

For each museum, I suggest that each object has a `rdfs:label` AND a `P102_has_title` with the same value when given by the muse

[2020-12-10 12:55] tschleider commented on #59
Fixed and checked.

To avoid future confusion, some of the mappings need to be updated. In most cases a field with the name "title" is either mapped as E17 (MFA, MET) only or only as P102_has_title, but in some cases (e.g. [CER](https://docs.google.com/document/d/1qecnBVqxtTQ5GC4LRITixGdiLFf4zB6824B882zUgbg/edit#heading=h.vy2q0pvq298w)) it is still mapped as both. / cc @mpuren.

Right now, I made

[2020-12-10 13:43] ehrhart commented on #59
Should we construct the label directly in the generated KB instead of dynamically generating it on ADA?

From a conversation with Raphaël, the construction rule for is as follow:

* The value of `P102_has_title`, if there is one.
* OR, the object category (JOKER) + ', ' + the production time span label + ', ' + the production place label

I think it would make sense to generate an `rdfs:label` bas

[2020-12-10 15:32] rtroncy commented on #59
To progress on this action, we should:
- no longer use an instance of the `E17_Type_Assignment` class.

- systematically, provide values for the 2 properties `rdfs:label` and `P102_has_title` where the value is coming: a) EITHER from a source field (see mappings); b) OR is artificially generated/constructed using [these rules](https://github.com/silknow/converter/issues/59#issuecomment-742529058).

[2020-12-10 15:38] tschleider commented on #59
@ehrhart

Just to make sure. With "production time span label" you mean the value from the time-span field? (Same for production place)

[2020-12-10 15:43] ehrhart commented on #59
@tschleider I believe it would be the `rdfs:label` of the `P4_has_time-span` for production time, and the `rdfs:label` of `P8_took_place_on_or_within` for production place.

[2020-12-10 18:08] tschleider opened #60 "Mapped rights not correctly implemented (e.g. for Joconde)"
Issue as stated by @ehrhart:

https://www.pop.culture.gouv.fr/notice/joconde/01390002506
(KB link: https://data.silknow.org/object/533e9cc4-e996-3994-9008-34326e45fd1e).

I've checked the field in the record json file, it is this one:
[code]

however I cannot seem to find this information in the KB or in the ttl files.

[2020-12-10 20:25] tschleider commented on #59
I implemented this mechanism, see e.g.:

https://data.silknow.org/describe/?url=http%3A%2F%2Fdata.silknow.org%2Fobject%2F280b1801-a9de-317d-b0c5-a5e275122b1a&sid=303

In general it follows the rule outlined by @ehrhart , but there are three exceptions:

- MAD has a combined field for time and place (which is normally not converted, yet, see #5 ) so instead of "time + place" I just add the value(s)

[2020-12-10 20:34] rtroncy commented on #59
@tschleider Hum, why is it displaying "(made)" twice in https://data.silknow.org/object/280b1801-a9de-317d-b0c5-a5e275122b1a?

The label of the time span is simply "1700-1800", see https://data.silknow.org/timespan/925e9303-3789-317b-9892-15f4832d40cb. The label of the geonames entity is also simply "China".

Between, do not forget to add a proper dereferencing rule for the URI https://data.silkno

[2020-12-11 20:36] tschleider commented on #59
Ok, so generating a title out of the fully processed time span and geonames name was not super trivial with our current converter architecture. After many tries of us,  @ehrhart came up with a great query ([LINK](https://github.com/silknow/knowledge-base/blob/master/patches/01-insert_objects_labels.rq)) that constructs an rdfs:label as discussed - in case the P102 title is missing - during the dep

[2020-12-12 09:48] rtroncy commented on #59
Yes, this was a clever idea we used at the 3cixty KG construction time, with plenty of patches to clean up the KG during deployment time. Well done @ehrhart !

We said we would use both the `rdfs:label` AND the `P102_has_title` properties. The INSERT clause needs to be updated accordingly.

Next, the constructed title is never localized. Is it intended?

[2020-12-14 10:27] ehrhart commented on #59
The query has been updated to add P102_has_title.

Question: how to determine the language of the label? 🙂
None of the properties used (assignment label, time label, place label) seem to have the language tag.
We can always set it to english by default, if needed.

[2020-12-14 12:23] rtroncy commented on #59
Let's keep it like this for now. We will see if there is a need for localization later.

[2020-12-14 12:23] #59 closed

[2020-12-18 14:37] tschleider opened #61 "Hardcoded location for some datasets without place mapping?"
Especially for some of the new sources (Paris musees, Versailles, Mobilier) it might be the cases that all records have metadata of objects from the same location or at least country (France?) , but some of them don't have any location mapping at all.

Should we therefore hardcode it?
@mpuren

[2020-12-18 14:40] tschleider opened #62 "Smithsonian: Mixed field for Material / Techniques could be regex parsed into two fields"
This [query](https://data.silknow.org/sparql?default-graph-uri=&query=SELECT+distinct+%3Fo+%3Fx%0D%0AWHERE+%7B+%0D%0A++graph+%3Chttp%3A%2F%2Fdata.silknow.org%2Fgraph%2Fsmithsonian%3E+%7B%3Fo+a+ecrm%3AE22_Man-Made_Object+.%7D%0D%0A++%3Fprod+ecrm%3AP108_has_produced+%3Fo+.+%0D%0A++%3Fprod+ecrm%3AP126_employed+%3Fx%0D%0A%7D%0D%0A&should-sponge=&format=text%2Fhtml&timeout=0&debug=on&run=+Run+Query+) s

[2020-12-18 14:46] tschleider opened #63 "Wikifier or similar approach to match / parse semantics from material / technique or mixed fields"
We have a lot of datasets with mixed material / technique fields. Some of them (like MAD, e.g. this [query](https://data.silknow.org/sparql?default-graph-uri=&query=SELECT+distinct+%3Fo+%3Fx%0D%0AWHERE+%7B+%0D%0A++graph+%3Chttp%3A%2F%2Fdata.silknow.org%2Fgraph%2Fmad%3E+%7B%3Fo+a+ecrm%3AE22_Man-Made_Object+.%7D%0D%0A++%3Fprod+ecrm%3AP108_has_produced+%3Fo+.+%0D%0A++%3Fprod+ecrm%3AP126_employed+%3Fx

[2020-12-26 16:43] rtroncy opened #64 "Address Knowledge Graph issues reported in D7.1"
The various issues reported in the[ Deliverable D7.1, section 5](https://drive.google.com/file/d/1pKLZyd86fbpDnBTDqc5hj3azdkCymQeM/view) should be addressed:

- check how to represent object dimensions when the record does not describe a SINGLE object but set of textiles
- check how construction and techniques are represented in the KG
- represent in a structured way warp and weft information whic

[2020-12-28 00:23] rtroncy commented on #64
Note: several points have been partially answered in [this email from @tschleider](https://lists.eurecom.fr/sympa/arc/silknow/2020-05/msg00111.html).

[2020-12-28 15:56] rtroncy opened #65 "UNIPA: verify that all records have been converted and fix the production / storage location"
The query:
[code]
shows that UNIPA [has 438 records in the KG](https://ada-preprod.silknow.org/sparql?default-graph-uri=&query=select+distinct+%3Fg+count%28distinct+%3Fs%29+as+%3FnbObj%0D%0Awhere+%7B%0D%0A++graph+%3Fg+%7B%3Fs+a+ecrm%3AE22_Man-Made_Object%7D%0D%0A%7D%0D%0Agroup+by+%3Fg%0D%0Aorder+by+desc%28%3FnbObj%29%0D%0A&should-sponge=&format=text%2Fhtml&timeout=0&debug=on&run=+Run+Query+) while

[2020-12-28 15:58] rtroncy commented on #63
The Wikifier SILKNOW UI available at http://wikifier.org/silknow.html can be used to do quick testing of what could be extracted from long sentences.

[2020-12-29 22:40] rtroncy commented on #2
Thanks, those results are interesting and reveal a few problems:

- When are we creating instances of `ecrm:E21_Person`?  It seems that this is when the records mention a right holder. However, http://data.silknow.org/person/cb35b2cd-f3a6-34b4-9fbe-3870692d533a and http://data.silknow.org/person/e0d25d5c-9d7e-33ed-ad38-8b960d697f98 are obviously the same person. Similarly, http://data.silknow.org/

[2020-12-30 00:03] rtroncy opened #66 "Handling fuzzy production time spans"
We now create systematically time spans for production and we try to interpret and define those time spans, in terms of beginning and end, attaching them to centuries when possible. [This slide](https://docs.google.com/presentation/d/1ch8WnzBTkgDjh2ybWHEPrNV8PT3A_moMGn6FDI_vSv4/edit#slide=id.ga919aba79d_0_0) gives a good account of the situation per museum.

We should better represent when the pro

[2020-12-30 00:03] rtroncy commented on #3
Closing since we have now #66.

[2020-12-30 00:03] #3 closed

[2020-12-30 13:50] rtroncy commented on #4
I have looked at the [mapping for the MET museum](https://docs.google.com/document/d/1hey3yfQf4Se_N2jVi4bjgwHNb2-_pCBm4l5A2eEf_gk/edit#) and in particular the mapping of the field `galleryInformation`. I'm also NOT in favor of including this in the KG at this stage of the project.

[2020-12-30 13:50] #4 closed

[2020-12-30 14:10] rtroncy commented on #5
This query gives a good account of the current situation ([results](https://data.silknow.org/sparql?default-graph-uri=&query=SELECT+DISTINCT+%3Fo+%3Flabel+%3Fprod+%3Fts+%3Floc%0D%0AWHERE+%7B%0D%0A++GRAPH+%3Chttp%3A%2F%2Fdata.silknow.org%2Fgraph%2Fmad%3E+%7B%0D%0A+++++%3Fo+a+ecrm%3AE22_Man-Made_Object+.%0D%0A++%7D%0D%0A++%3Fo+rdfs%3Alabel+%3Flabel+.%0D%0A++%3Fprod+ecrm%3AP108_has_produced+%3Fo+.%0D

[2020-12-30 14:19] rtroncy commented on #7
The [property P6764](https://www.wikidata.org/wiki/Property:P6764) has landed in Wikidata and it concerns artists and makers or subjects of items in the collection of the Victoria and Albert Museum. Interlinking with Wikidata will already be dealt with in #2 thus closing here.

[2020-12-30 14:19] #7 closed

[2020-12-30 15:00] rtroncy commented on #9
The `ecrm:P3_has_note` values attached to the object from this museum are a perfect candidate to try extensively Wikifier, see also #63

[2020-12-30 15:02] #18 closed

[2020-12-30 15:11] rtroncy commented on #24
After reading more carefully #22 and this issue, it seems to me that the values of some fields for IMATEX are improperly language tagged. More precisely, we cannot rely exclusively on the extension of the JSON file being _ca, _es or _en to be sure that the strings are written respectively in Catalan, Spanish and English. Worst, I understand that sometimes some values are mixed languages. But all v

[2020-12-31 13:37] rtroncy commented on #27
This is time to update this issue. The following SPARQL query provides the number of distinct `E22_Man-Made_Object`  and `E38_Image` for each museum ([results](https://ada-preprod.silknow.org/sparql?default-graph-uri=&query=SELECT+DISTINCT+%3Fg+count%28%3Fo%29+as+%3FnbObj+count%28%3Fi%29+as+%3FnbImg%0D%0AWHERE+%7B+%7B%0D%0A++GRAPH+%3Fg+%7B%0D%0A+++++%3Fo+a+ecrm%3AE22_Man-Made_Object+.%0D%0A++%7D+%

[2020-12-31 13:42] #54 closed

[2020-12-31 13:47] rtroncy commented on #28
The `ecrm:P3_has_note` values attached to the object from this museum are a perfect candidate to try extensively Wikifier, see also #63.

Note: the object referenced above is http://data.silknow.org/object/a4e34366-4967-3c78-a3e8-69e965f0a1f0

[2020-12-31 14:01] rtroncy commented on #29
The [mapping file for IMATEX](https://docs.google.com/document/d/1_DMd0aF4aweBmBKBMV11aUYzttqGT2ecTFAAJ0vNT6E/edit#heading=h.bhjtsck21tv8) shows indeed that the new path should be `E22_Man-Made_Object P65_shows_visual_item E36_Visual Item` and a `E36_Visual_Item has a P3_has_note E62_String`. If we have no other information to attach to the Visual Item, then it is better to simply use the `P62_dep

[2020-12-31 14:10] rtroncy commented on #30
I'm seeing the need but I'm not sure this should be included in _string2vocabulary_. What do you think @pasqLisena?

[2020-12-31 14:13] rtroncy commented on #41
Assigning it to @pasqLisena as there are similarities with #66

[2020-12-31 14:17] rtroncy commented on #56
The phrasing of this issue is still too general in the sense that we don't see immediately what needs to be changed and for which museum.

@tschleider Go through each museum mapping file, and report in this issue when you have validated all changes colored in red in the google docs. Do close the comments in google docs and change the colors as well.

[2020-12-31 14:39] rtroncy commented on #44
Revisiting this issue: do we have any E22_Man-Made_Object that is somehow related to another E22_Man-Made_Object in the KG? If so, what is the nature of the property that relates them?

From the [MET museum mapping](https://docs.google.com/document/d/1hey3yfQf4Se_N2jVi4bjgwHNb2-_pCBm4l5A2eEf_gk/edit), the field _relatedObjects_ seem to generate the creation of a `ecrm:E89_Propositional_Object` whi

[2020-12-31 14:47] rtroncy commented on #42
I will update the [URI pattern document](https://github.com/silknow/converter/blob/master/URI-patterns.md) and open new github issues when needed. Closing for now.

[2020-12-31 14:47] #42 closed

[2021-01-01 13:16] rtroncy commented on #37
A lot of progress has been done on this issue, in particular, thanks to the new [categories controlled vocabulary](https://github.com/silknow/knowledge-base/blob/master/vocabularies/category/categories.ttl). I will close this issue in favor of opening a new one to solve the now JOKER and BATMAN problem.

[2021-01-01 13:16] #37 closed

[2021-01-01 13:28] rtroncy commented on #35
I'm temporarily updating this issue that would need a lot of attention in the coming weeks. The overall goal will be to replace ALL strings that are currently values of `ecrm:P2_has_type` by  a URI, being an existing concepts from an ontology we will re-use or a new term we will create in small controlled vocabularies.

The following SPARQL query shows what strings will need to be updated ([result

[2021-01-01 14:19] rtroncy opened #67 "Resolving JOKER and BATMAN or how to categorize objects"
See also the related issue: #35

As an interim solution, we have created those 2 ugly URIs:

- https://data.silknow.org/has_type_P2/1 (JOKER)
- https://data.silknow.org/has_type_P2/2 (BATMAN)

where JOKER and BATMAN are defined as a sum of possible types that one can find as value of `ecrm:P2_has_type`, see also [this google doc](https://docs.google.com/document/d/10Kht6Rv-_4iHshKOC_GR8rmKtcxtAX0n

[2021-01-01 15:22] rtroncy commented on #63
@tschleider Read actually the whole thread at https://lists.eurecom.fr/sympa/arc/silknow/2020-05/msg00015.html with the experiments made by Janez and the results stored at http://wikifier.org/silknow/JSI-all_text-wikified.zip (warning, this is a big 600MB JSON file that you best edit using Sublime or equivalent)

[2021-01-01 16:18] rtroncy opened #68 "Integrate the predictions of the Image and Text analysis modules in the KG using PROV"
In [this google doc](https://docs.google.com/document/d/1kHldSMu227SCW_8ltnkL6_IfbJ3gH_0_1_-QHkTis4w/edit#), we have discussed 3 proposals for modeling the results of the Image and Text analysis modules in their effort of predicting values for production place, production time, material, technique and depiction.

In terms of modeling, we have decided [to adopt the 3rd variant using PROV](https://g

[2021-01-01 20:52] rtroncy opened #69 "Update the URI pattern creation of a number of class instances"
See https://github.com/silknow/converter/blob/master/URI-patterns.md. I believe that the following changes should be done:

- [x] `crmdig:D1_Digital_Object`: currently, the URI pattern looks like http://data.silknow.org/graph/[graph-short-name]/[ID]. Instead, the URI pattern should simply be: http://data.silknow.org/object/[UUID]
- [x] `ecrm:E73_Information_Object`: currently, the URI pattern look

[2021-01-05 07:56] rtroncy commented on #35
Another easy low hanging fruit is to normalize the type of `crmsci:S4_Observation` made on each objects.

The following SPARQL query provides a good account of the current situation ([results](https://data.silknow.org/sparql?default-graph-uri=&query=select+distinct+%3Fg+%3Fobs_type+count%28%3Fobs%29+as+%3FnbObs%0D%0Awhere+%7B%0D%0A++graph+%3Fg+%7B+%3Fo+a+ecrm%3AE22_Man-Made_Object+%7D%0D%0A++%3Fob

[2021-01-05 21:58] rtroncy opened #70 "Each E22 object should have sameAs links to museum permalinks when possible"
Currently, each `ecrm:E22_Man-Made_Object` is linked via `ecrm:P129_is_about` to a `crmdig:D1_Digital_Object`.

This Digital Object represent the metadata records:

- It follows a wrong URI pattern (see also #69) and has also a bizarre label, namely, the name of the JSON file.
- It has for ecrm:P2_has_type the string "Record" which should also be changed (see #35)

However, we have lost the origin

[2021-01-05 22:03] rtroncy commented on #68
The values of `rdfs:comment` (for the text) as well as of `ecrm:P38_has_representation/schema:contentURL` should also be added in the SELECT

[2021-01-05 22:07] rtroncy opened #71 "Integrate the results of the relation extraction module from JSI"
See also slides 6-9 from [this presentation](https://drive.google.com/file/d/1Z4uMzM4-sD2YCb9zett0jKcJ5pPtwpOn/view).

This is the results of the extraction of information about "weaving, weaving technique, style, and motifs". This may require to instantiate some of the new classes and properties defined in the SILKNOW ontology.

[2021-01-07 10:41] pasqLisena commented on #66
Regex used for uncertain dates:

https://github.com/silknow/converter/blob/863c03611a527048608720363b18973308849d82/src/main/java/org/silknow/converter/entities/Production.java#L15

To those cases, we may want to add "or later", "or earlier", "before" and "after".

A big difference between DOREMUS and SILKNOW is in timespans sharing among different objects.
- In DOREMUS (apart [centuries](http://d

[2021-01-07 11:25] pasqLisena commented on #66
Timespans to be deleted:
- [x] https://data.silknow.org/timespan/null_null
- [x] https://data.silknow.org/timespan/n_d_
- [x] https://data.silknow.org/timespan/No
- [x] https://data.silknow.org/timespan/Desconocido
- [x] https://data.silknow.org/timespan/Desconocida

New cases to be parsed (among [all unparsed ts](https://data.silknow.org/sparql?default-graph-uri=&query=SELECT+distinct+%3Fg+%3Fts%

[2021-01-07 15:08] rtroncy commented on #66
Thanks a lot @pasqLisena for this comprehensive investigation as well sketches of possible solutions. I also did more investigations. A relevant pointer, first, is https://www.loc.gov/standards/datetime/ (the so-called new EDTF format).

I search a lot in the LinkedArts community since they inherit from CIDOC-CRM practices. The LinkedArts suggested model for timespans is described at https://linke

[2021-01-07 16:20] pasqLisena commented on #66
My thoughts:
- Using `P82a_begin_of_the_begin`, `P82b_end_of_the_end`, etc. will make us crazy when querying. I would keep the current start-end structure.
- EDTF is not RDF-compatible (at least yet). It would be nice to include it in our data somehow (do you have a property in mind to attach to TS?), but we will have no benefit in querying or visualising.
- Solution 1 is the more straightforward

[2021-01-07 17:48] #5 closed

[2021-01-07 17:56] pasqLisena commented on #30
Indeed this is not provided in String2Vocabulary.
You want something like this, right? https://overture.doremus.org/api/vocabulary/mop?q=pianofrte
So that you receive some results even if there are typos (like in pianofrte)

[2021-01-07 19:31] rtroncy commented on #30
Yes, something like this! This is typically what a reconciliation API does, see the [W3C Community Group](https://www.w3.org/community/reconciliation/) which is being relatively active and the [current specification](https://reconciliation-api.github.io/specs/latest/).

In the case of the API you setup for doremus, how is the confidence score established? I can imagine a lucene/solr like indexing

[2021-01-07 20:01] rtroncy commented on #66
OK, I also agree to keep the Solution 1 and to create "more" URIs identifying timespans, and basically a new URI each time we encounter a fuzzy timespan. I also agree to keep using the simpler start-end time of the timespan and to NOT use the newest `P82a` and `P82b` properties. I would use the EDTF notation in the label of the timespan.

[2021-01-08 09:12] pasqLisena commented on #66
How do we create this?
I think that we can use EDTF, or better a transposition of it in order to avoid special URI symbols (like `?` or '/'). Examples
   - http://data.silknow.org/timespan/1980_1981%  (start in 1980, possibly end in 1981)
   - http://data.silknow.org/timespan/1980%_1989%  (around the '80s)
   - http://data.silknow.org/timespan/1925%_1951%  (2nd quarter of 20th century)
   - http:/

[2021-01-08 09:21] pasqLisena commented on #30
Much simpler! The labels are not so much and can be cached in memory (we are speaking about vocabularies only).
Then, a Levenshtein distance is applied for proposing the results, with some custom changes (preflabels have higher scores than altlabels, matching the right language give more score, etc.)

https://github.com/DOREMUS-ANR/overture/blob/e77a0561d566cd489aebfb374b046183be477cf1/server/api/

[2021-01-08 10:18] pasqLisena commented on #41
Things have been evolved since January.

Currently, only [3680 places](https://data.silknow.org/sparql?default-graph-uri=&query=SELECT+DISTINCT+count%28%3Floc%29+%23+%3Fg+%3Flabel+count%28distinct+%3Fprd%29%0D%0AWHERE+%7B%0D%0A+++++++GRAPH+%3Fg+%7B+%3Fprd+ecrm%3AP108_has_produced+%3Fobj+%7D%0D%0A+++++++%3Fprd+ecrm%3AP8_took_place_on_or_within+%3Floc+.%0D%0A+++++++%3Floc+rdfs%3Alabel+%3Flabel%0D%0A

[2021-01-09 10:44] rtroncy commented on #41
Excellent study!

Yes, do create a list of possible "actions" since this may trigger an improved modeling of the data. I'm inquiry the experts as well.

Regarding the removal of uncertainty qualifiers such as 'possibly', 'probably', this is good for improving interlinking. However, I wonder whether we should not capture this information in the model as well, which would mean use a different proper

[2021-01-09 13:20] rtroncy commented on #30
The threshold used in the Levenstein distance is then hardcoded (0.6 / 0.7?) Should this not be parametrized?

This is related anyway to https://github.com/silknow/api/issues/1

[2021-01-09 13:27] rtroncy commented on #66
I'm wondering if we could not have a mixed approach for generating URIs for timespans, namely:

- relatively transparent URI when timespans are certain (as it is done now, e.g. https://data.silknow.org/timespan/1970_1979)
- opaque URI when timespans are uncertain, therefore using a UUID for which the seed would indeed be based on the EDTF format).

The advantage of this solution is that a human wo

[2021-01-11 10:09] pasqLisena commented on #66
It's not complicated. I proceed to implement this

[2021-01-11 10:11] pasqLisena commented on #30
Indeed this can be a parameter. Anyway, those values are the best ones accordingly to our experiments and prioritising precision over recall

[2021-01-11 21:00] tschleider commented on #62
Pushed a commit that splits Materials and Techniques and then maps each correctly. Not yet uploaded to Virtuoso,  but tested.

[2021-01-11 21:00] #62 closed

[2021-01-11 21:16] tschleider commented on #69
Changes pushed, but not yet reconverted /  uploaded:

- D1: Changed the URI pattern. Seed for UUID is filename + JSON-ID
- E73: Changed the URI pattern. Seed is as usual. It is used in the mapping for "Bibliography" and "Exhibition" mappings.
- E9: This class was systematically replaced by a new class that is still not available to us. I asked Marie to temporarily change it back to E9. In the mean

[2021-01-11 21:21] tschleider commented on #65
I checked all records, the data provided in September 2020 contains all data from March, therefore all numbers are correct:
29 gsheet files + 409 records in the new format (there is one empty row in the JSON, therefore 409 not 410) = 438.

I fixed a minor discrepancy described in the email exchange and wrote a mail last week in which I ask Marie and Pierre to adopt the mapping according to Valeria

[2021-01-11 21:22] rtroncy commented on #69
Don't forget to update https://github.com/silknow/converter/blob/master/URI-patterns.md accordingly.

[2021-01-11 21:33] tschleider commented on #64
In the mapping file it is in general suggested to eventually create several E22 Man-made object classes per record. Would it not be easier to ask somebody to re-structure the data, as we are dealing with only 29 sheets? I think it would then be more precise and would not bloat the converter.

Fixed (see e-mail)

I think there was a misunderstanding that should be clear after my e-mail.

Ongoing di

[2021-01-11 22:05] tschleider commented on #27
- GARIN: The original data is messy. I tried not only alone, but also with the help of others to match images with the excel sheets, and some just don't add up. The number of records is actually just the number of excel sheets, but some of them do not have the "proper" format. Was unfortunately a mistake to count it like that.

- IMATEX: So the original JSON files are actually not symmetrical for

[2021-01-11 22:13] tschleider commented on #44
No update so far, as I didn't have the time.
In general we have several datasets that mention identifier of related records. The nature of this relation is not really specified, I think.

- MET: The field "relatedObjects" is right now not getting converted.
- Joconde: The existing E89 does refer to itself, right now, not to another related object. I did not understand the nature of this mapping at

[2021-01-11 22:21] tschleider commented on #56
I went through everything once again and there are certain general topics that need to be addressed (next to some smaller ones):

- E8: I once deactivated most of the Acquisition mappings, originally temporarily, because they were using P2 in an undesired way (see #35 ). I need to add them again, eventually with another property instead.
- E30: All mappings concerning E30 (Right) are either missin

[2021-01-12 08:15] tschleider commented on #69
Changed the URI pattern doc.

[2021-01-12 08:44] pasqLisena commented on #69
All is possible, but what is the date here? How this will be represented?
These for me are 2 different restoration events:
- by [Elisabet Cerdà Durà](https://www.linkedin.com/in/elisabet-cerd%C3%A0-dur%C3%A0-09631662) in 2010
- by Fundació Abegg Stiftung in 1992

Do you have a longer list of example to understand if we can always split at that `/`?

[2021-01-12 09:34] #66 closed

[2021-01-12 10:09] rtroncy commented on #27
Note that for VAM, the problem is **NOT** that we are missing images but we have **more** records and **more** images than expected! Thus the **+** sign. Looking forward another update after the last bug fix in generating UUID and consequent testing.

[2021-01-12 14:10] tschleider commented on #69
- E14 is dereferencable now, but this highlights that it's implemented incorrectly. The actual "condition" is not in the KG right now. I'm on it.

@pasqLisena : Thanks for having a look. Here the[ full query](https://data.silknow.org/sparql?default-graph-uri=&query=SELECT+DISTINCT+%3Fg+%3Fs+%3Fcomment%0D%0AWHERE+%7B%0D%0A++GRAPH+%3Fg+%7B%0D%0A++++%3Fs+a+ecrm%3AE11_Modification+.%0D%0A%0D%0A++%7D%0

[2021-01-12 16:57] pasqLisena commented on #69
[Like this](https://data.silknow.org/sparql?default-graph-uri=&query=SELECT+DISTINCT+%3Fcomment+count%28distinct+%3Fs%29%0D%0AWHERE+%7B%0D%0A++GRAPH+%3Chttp%3A%2F%2Fdata.silknow.org%2Fgraph%2Fimatex%3E+%7B%0D%0A++++%3Fs+a+ecrm%3AE11_Modification+.%0D%0A%0D%0A++%7D%0D%0A++%3Fs+rdfs%3Acomment+%3Fcomment%0D%0A%7D+%0D%0AGROUP+BY+%3Fcomment%0D%0AORDER+BY+%3Fcomment&should-sponge=&format=text%2Fhtml&tim

[2021-01-13 10:23] pasqLisena commented on #41
So, I largely improved the coverage of the parsing (following what I wrote in the comment above).

In the parsing, we are ignoring the part about selling ("for export", "for American market") and usage ("used in America", "worn in America"). I don't know if this should be represented elsewhere,  but for sure this part is not relevant for the Production.

List of possible activities, present betwee

[2021-01-13 14:58] #8 closed

[2021-01-17 22:04] rtroncy commented on #41
I would keep it open until we get a resolution from [this thread](https://lists.eurecom.fr/sympa/arc/silknow/2021-01/msg00036.html).

[2021-01-29 16:06] tschleider commented on #68
Taking your last comment into account I changed the above query to the following and adapted it for all 5 dimensions accordingly:

[code]

Here is the link to all the CSV on Google Drive.
https://drive.google.com/drive/folders/1hXcmAMSsTmq22nUT5HIyXfnfeEewrklf

[2021-01-29 20:39] rtroncy commented on #68
Thanks @tschleider ! Can you provide some stats as how many objects there are in each test file (so per dimension) and maybe per museum as well? A table in a comment in github would do the job with 1 museum per row and each of the 5 dimension in columns.

[2021-02-03 21:58] tschleider commented on #27
For the VAM images:

[Query 1](https://data.silknow.org/sparql?default-graph-uri=&qtxt=SELECT+%3Fg+%3Fobj1+%3Fobj2+%3Fimage+WHERE+%7B%0D%0A++GRAPH+%3Fg+%7B+%3Fobj1+a+ecrm%3AE22_Man-Made_Object+%7D%0D%0A++GRAPH+%3Fg+%7B+%3Fobj2+a+ecrm%3AE22_Man-Made_Object+%7D%0D%0A++%7B%0D%0A++++SELECT+%3Fobj1+WHERE+%7B%0D%0A++++++%3Fobj1+ecrm%3AP138i_has_representation+%3Fr1+.%0D%0A++++%7D%0D%0A++++GROUP+BY+%3Fob

[2021-02-03 22:01] tschleider commented on #69
All changes implemented, will deploy them to stage tomorrow.

[2021-02-03 22:02] tschleider commented on #65
Changed the mapping, will deploy the reconverted files to stage tomorrow.

[2021-02-03 22:03] tschleider commented on #60
Fixed, will deploy to stage tomorrow.

[2021-02-03 22:03] tschleider commented on #64
Remaining issue(s) brought up in mail conversations with UNIPA (Georgia) and Lyon (Marie).

[2021-02-04 14:11] tschleider commented on #69
Deployed to stage

[2021-02-04 14:11] tschleider commented on #65
Deployed to stage

[2021-02-04 14:11] tschleider commented on #60
Deployed to stage

[2021-02-05 13:28] tschleider opened #72 "VAM: Dimension field has sometimes whole sentences, several height and width / pattern unit information"
The dimensions field is right now not fully parsed if there is more information than just one height and one width.

**Examples**:

O10267.json:
dimensions: "Length: 34 cm, Width: 66.6 cm open, Length: 13.75 in, Width: 26.5 in open

O10418.json:
dimensions: "Length: 110 cm, Width: 5.5 cm, Length: 44.5 cm repeat"

[2021-02-05 17:08] pasqLisena commented on #72
I think this is a follow up of #8, solved in e40223b

Both your examples seem to be correctly captured by the [dimension regex](https://github.com/silknow/converter/commit/e40223bd67d576fce14f450242d86c1bf5347d4a#diff-c459251776e7fb8f3319f2f55e7be6567ae0a7540fbfb41994b17758dd3d9079R19).
What is the output of the current code?

[2021-02-06 14:16] rtroncy commented on #72
In the first example (`O10267.json`): the values in inches are just the same than in cm but converted in a different unit. Between, how do we manage units for dimensions in the KG?

In the second example (`O10418.json`): the interesting keyword is `repeat`. A string2vocabulary call should be made and match https://data.silknow.org/vocabulary/444! This SKOS concept should be the trigger to an addit

[2021-02-08 09:43] pasqLisena commented on #72
CIDOC-CRM offers a `P91 has unit` property, used e.g. here:
https://data.silknow.org/object/622582e4-39aa-3888-bc68-3568995c0e1c/dimension/w

[2021-02-08 10:00] rtroncy commented on #72
Good, but this is from a representation point of view. We do not attempt to convert all dimension values in a common unit? Consequently, we would not be able to do a query filter by the dimension size in a straightforward manner, right?

[2021-02-08 11:13] pasqLisena commented on #72
Indeed this is a failure point. Being the number of used units is limited, we can aim to convert everything in cm.

[2021-02-08 18:39] tschleider commented on #68
| Museum | Material | Depictions | Place | Time | Technique |
| --- | --- |  --- | --- | --- | --- |
| VAM | 1 |  7488 | 231 | 0 | 3384 |
| Garin | 589 |  2951 | 0 | 31 | 132 |
| MFA | 211 |  2478 | 0 | 241 | 2322 |
| Venezia | 3 |  1156 | 827 | 0 | 1149 |
| Mobilier | 0 |  964 | 964 | 173 | 960 |
| MET | 1 |  835 | 0 | 4 | 432 |
| MTMAD | 650 |  650 | 650 | 650 | 650 |
| IMATEX | 0 |  509 | 932 |

[2021-02-09 10:15] tschleider commented on #72
@pasqLisena : You're right, I should at least have referred to #8 , which has fixed a lot.

@rtroncy: Thanks for finishing the explanation, here are the two URIs:

- Production : [O10267.json](https://data.silknow.org/describe/?url=http%3A%2F%2Fdata.silknow.org%2Fobject%2F900aa493-724c-3d45-a782-8cf4bbdbfd81&sid=470) | [O10418.json](https://data.silknow.org/describe/?url=http%3A%2F%2Fdata.silknow.

[2021-02-09 10:46] rtroncy commented on #72
It clearly is. And worst, we are collapsing values and unit, so, if I look at http://data.silknow.org/object/7367a77e-72fc-3b0a-a85a-2aad7289bf95/dimension/l, I have two values (13,75 and 34) and 2 units (cm and in) so we do not know what is expressed in what! This should be fixed.

I'm following up as well on the mailing list ([message](https://lists.eurecom.fr/sympa/arc/silknow/2021-02/msg00035.

[2021-02-09 16:56] pasqLisena commented on #72
So these are the [units](https://ada-preprod.silknow.org/sparql?default-graph-uri=&query=select+distinct+%3Funit+count%28distinct+%3Fs%29+where+%7B%3Fs+ecrm%3AP91_has_unit+%3Funit%7D+LIMIT+100&should-sponge=&format=text%2Fhtml&timeout=0&debug=on&run=+Run+Query+) extracted so far:
| unit | count | what                        |
|------|-------|-----------------------------|
| cl   | 1     | volume

[2021-02-10 10:16] lrei commented on #68
I'm fixing this on my side so no big problem but these should probably be "non-urgent" issues if nothing else than for documentation's sake:

1. File text encoding is messed up. Trying UTF8 results in crash while iso-8859-1 results in "bad" characters (running ftfy fixes it on my end).
2. Field names are different from total_post.csv (train data) which means I need to interpret them and convert th

[2021-02-10 10:28] tschleider commented on #68
@lrei :

1. It's indeed not in UTF-8, but it's easy to fix that (just open them with any editor as UTF-8 and save again)
2. I can change the field names to align with total_post.csv
3. That's correct

I will have another look and try to provide data that's easier to use.

[2021-02-10 10:42] lrei commented on #68
@tschleider i'll use this so it's fine. if you do look into it I suggest you prioritise the encoding issue :)

[2021-02-10 11:09] tschleider commented on #68
The SPARQL queries that can generate the CSV files are at https://drive.google.com/drive/folders/1hXcmAMSsTmq22nUT5HIyXfnfeEewrklf and on [github](https://github.com/silknow/converter/tree/master/jointtextimagemodule/testfiles_prediction)

I adjusted the variable names, but you can easily replace them now, if something is still off. I checked the UTF-8 problem, but originally they are encoded corr

[2021-02-10 15:39] rtroncy commented on #61
See updated information from @mpuren at https://lists.eurecom.fr/sympa/arc/silknow/2021-02/msg00045.html and the follow-up thread.

I suggest that @tschleider make the exhaustive list of all possible authors / producers so that we can write in a sort of dictionary the corresponding location for those agents.

[2021-02-11 19:08] pasqLisena commented on #72
I did some modifications.

Current output for O10267:
[code]
Output for O10418

[code]

(note that I keep now the original string in `rdfs:label`)

The URI system has been only changed for VAM. For others, it still has `w` and `h` (no problem of overwriting)

What do you think?

[2021-02-11 19:26] rtroncy commented on #72
This is good, I would apply the same URI pattern for all dimension, so the pattern `http://data.silknow.org/object/[UUID]/dimension/[count]`

[2021-02-12 08:30] pasqLisena commented on #72
The parsing part can be seen as completed.

What is still missing is the connection with the Patterns:

@tschleider you take the token from here on?

[2021-02-12 08:43] rtroncy commented on #72
I suppose from https://silknow.uv.es/owncloud/index.php/apps/files/?dir=/Data&fileid=626898

[2021-02-15 11:33] tschleider commented on #27
Ok, good news, for both VAM and Venezia the discrepancy for the number of records / number of E22 classes seems to be solved on stage, it was probably a temporary encoding problem:

[LINK](https://ada-preprod.silknow.org/sparql?default-graph-uri=&query=SELECT+DISTINCT+%3Fg+count(%3Fo)+as+%3FnbObj+count(%3Fi)+as+%3FnbImg%0D%0AWHERE+{+{%0D%0A++GRAPH+%3Fg+{%0D%0A+++++%3Fo+a+ecrm%3AE22_Man-Made_Object

[2021-02-15 12:00] rtroncy commented on #27
Good, I have update the table in https://github.com/silknow/converter/issues/27#issuecomment-752960642 accordingly. Now, we have the good number of records. Can you explain the discrepancy regarding the differences when counting the number of image files on the server versus the number of E37 instances?

[2021-02-19 10:19] tschleider opened #73 "Encoding the internal museum ID properly"
This is based on the following [e-mail conversation](https://lists.eurecom.fr/sympa/arc/silknow/2021-02/msg00086.html)

We agreed to not touch the UUID generation for objects, based on the JSON IDs, but we realised that the internal museum IDs are not / not fully represented in the KG and need to address this.

Results of all P2_has_types of E42 Identifier Assignment: [LINK](https://data.silknow.o

[2021-02-22 14:33] tschleider opened #74 "Pattern Unit: Mapping and parsing needs to be adjusted, new class T24 instantiated for matches with ID 444"
Right now we do not have any Thesaurus matches with [ID 444 "Pattern Unit"](https://data.silknow.org/vocabulary/444), although we have this information in the datasets.

Some changes in the mappings as well as of the parsing of some fields (e.g. Dimension) is necessary. For succesful matches we then need to implement and use the new class T24.

Original note:
"Marie will update the mapping file ht

[2021-02-22 14:49] tschleider commented on #35
Thanks to @mpuren  and Pierre for the following taxonomy regarding types of observations (S4):

Classification | Actual type
-- | --
General observation |
^ | Clasificación Razonada
^ | Descripción (CERES)
^ | Descripción (GARIN)
^ | Description (IMATEX)
^ | Description (JOCONDE)
^ | Description (MET)
^ | Description (MFA)
^ | Description (Mobilier)
^ | Description (MTMAD)
^ | Descriptive Line
^ |

[2021-02-25 13:01] Dorozynski commented on #68
I prepared the predictions of the image classification module for the test samples. All predictions can be found in the folder https://drive.google.com/drive/u/0/folders/19vjS282Icr49Xd1YpnpA8CgY3ja0HQ-g, where the predictions for the five variables are contained in the five "sys_integration_pred_[variable].csv" files.

[2021-03-02 22:21] tschleider commented on #73
I went through every converter and made sure that the internal museum number is now in the KG (if available) without touching the URI UUID generation.

I uploaded the fix to stage. Here an example from IMATEX:
https://ada-preprod.silknow.org/describe/?url=http%3A%2F%2Fdata.silknow.org%2Fobject%2F79a4a7d4-0479-39df-a5ae-f93b99deb7dc%2Fid%2F2655&sid=383

[2021-03-03 19:11] tschleider commented on #27
I realised I did not update this yet.

Images with more E38 than files on server:
- VAM
- MET
- MFA
- IMATEX
- Venetian

These are all crawling / scraping issues. I discussed this with @ehrhart (especially VAM), but there is nothing to be done anymore for the remaining cases. It's a problem on the museums side, as it is links that are provided (by the API), but just don't work, like:

Object from

[2021-03-03 21:05] #27 closed

[2021-03-23 16:34] rtroncy commented on #2
The decision is to always `rdf:type` these entities as `ecrm:E39_Actor`.

In addition, when we know it **for sure**, we should add the type `ecrm:E21_Person` (when this is an individual) or `ecrm:E40_Lega_Body` (when this is an organization) in a multi type fashion. It is acknowledged that in the majority of cases we will NOT know for sure so the entity will just have the E39 type.

Consequently,

[2021-03-23 16:41] rtroncy commented on #2
This issue is now a priority one. There are a number of things to do:

- [x] change the modeling and corresponding URI pattern for the entities of type E39, E21 and E40;
- [x] change the way the UUID is generated, e.g. using firstName and lastName so that obvious duplicates get naturally merged (we do not create 2 different URIs for the same person). Pay attention that one URI composed from the ha

[2021-03-23 16:47] rtroncy commented on #74
@tschleider I suggest you write an example as comment here, selecting a relevant record + excerpt of the metadata record that would need special parsing as well as expected output in Turtle making use of the T24 class. I'm looking for a complete example to assess the complexity of the solution to implement.

[2021-03-23 20:35] rtroncy commented on #29
@mpuren checked and the `P62_depicts` property should NEVER be used in the current mappings. We should always use instead the path:
 `E22_Man-Made_Object P65_shows_visual_item E36_Visual Item `
 `E36_Visual_Item has a P3_has_note E62_String`

@tschleider Can you make sure it is now consistent in the KG to facilitate the queries?

[2021-03-23 20:47] rtroncy commented on #35
In order to close this issue, we have decided to create a small controlled vocabulary composed of 5 `skos:Concept`. The concepts will have for label and the URI pattern:

- General observation `<http://data.silknow.org/observation/general-observation> a skos:Concept . `
- Technical observation  `<http://data.silknow.org/observation/technical-observation> a skos:Concept .`
- Iconographical observat

[2021-03-23 20:53] rtroncy commented on #44
Following-up the February 5th, 2021 telecon, we agreed that we should use the the `P129_is about` property to relate the `E89_Propositional_Object` with the `E22_Man-Made_Object`.

Have the recent changes in the way we create UUID clarify how we will identify the E89 objects?

[2021-03-23 21:16] rtroncy commented on #67
Given the new version of the SILKNOW ontology, we can now do the last steps to close this issue. What remains to be done:

- [x] For JOKER, the following triples should instead be used:

[code]
- [x] For BATMAN

[code]
There is no need anymore to attach a `P2_has_type` to the `E17_Type_Assignment` (or its subclasses)

[2021-03-26 01:57] tschleider commented on #74
I only found T24 in the mapping for VAM and Garin. I tried to implement it accordingly, but I was not sure where the Thesaurus link ends up.

Here a link for a E22 of Garin, focus on the new "P58 has section definition" property, which shows how I ended up doing it:

https://ada-preprod.silknow.org/describe/?url=http%3A%2F%2Fdata.silknow.org%2Fobject%2F1b30c7fe-fa06-3a23-a57a-24bdd567cb0d&sid=392

[2021-03-26 02:00] tschleider commented on #72
I'm almost done with the patterns, see #74

[2021-03-26 02:02] tschleider commented on #70
- The URI pattern is fixed (see #69)
- P2_has_type has been removed and `rdfs:label` has been changed accordingly (according to last zoom meeting)

I worked on the code to fetch the permalink, and this is easily possible, but I just need to finish to establish the `owl:sameAs` link. No crawler update necessary.

Example:
https://ada-preprod.silknow.org/describe/?url=http%3A%2F%2Fdata.silknow.org%2

[2021-03-26 02:08] tschleider commented on #69
Examples:
- [D1](https://ada-preprod.silknow.org/describe/?url=http%3A%2F%2Fdata.silknow.org%2Fobject%2F645ae680-04e7-3e15-bc9d-1e6f1bb68532&sid=393)
- [E73](https://ada-preprod.silknow.org/describe/?url=http%3A%2F%2Fdata.silknow.org%2Fobject%2Fbd8272af-8014-3551-94fd-1410d81435bd&sid=394)
- [ E11](https://ada-preprod.silknow.org/describe/?url=http%3A%2F%2Fdata.silknow.org%2Fevent%2F47d1e207-e68c-

[2021-03-26 02:13] tschleider commented on #67
Again I had troubles to implement the new classes. Also some of the discussed changes per email (namespace etc.) are not applied on OntoME, so I had to change some stuff manually. Except for that, the code seems to be working fine, should be fixed tomorrow:

[Example](https://ada-preprod.silknow.org/describe/?url=http%3A%2F%2Fdata.silknow.org%2Fobject%2F5eac50a8-74dd-381f-88f9-43ab08616042%2Fobjec

[2021-03-26 02:15] tschleider commented on #65
The change was concerning the production place, now all records have a place mapped correctly:

[Example](https://ada-preprod.silknow.org/describe/?url=http%3A%2F%2Fdata.silknow.org%2Fproduction%2F9b14a1d7-7ccf-3223-96d6-c9ba0ebceb57&sid=398)

[2021-03-26 02:18] tschleider commented on #64
For the mapping change, this was concerning dimensions, all (old) Unipa records have now a single dimension that can be parsed, the other dimensions were pushed to the textual fields. [Example](https://ada-preprod.silknow.org/describe/?url=http%3A%2F%2Fdata.silknow.org%2Fobject%2Fa253a8d5-dbe0-3764-b8cb-600de4b9403c&sid=399)

The other ongoing issue has been fixed as part of #65  (production place

[2021-03-26 02:20] tschleider commented on #60
[Example](https://ada-preprod.silknow.org/describe/?url=http%3A%2F%2Fdata.silknow.org%2Fobject%2F533e9cc4-e996-3994-9008-34326e45fd1e%2Fimage%2Fright)

[2021-03-26 02:21] tschleider commented on #35
Example for the new General Observation classification in the vocabulary: [Link](https://ada-preprod.silknow.org/describe/?url=http%3A%2F%2Fdata.silknow.org%2Fobject%2Fc3f816a0-5be2-3db4-95c1-bea8b7b89e35%2Fobservation%2F1&sid=400)

[2021-03-26 08:59] rtroncy commented on #74
There are indeed obvious bugs in your implementation.

First, as usual, start by being clear in the URI pattern you're using. Can an object have **multiple** section definition? Probably! Therefore, the URI to identify them could be: http://data.silknow.org/object/[UUID]/pattern/[int]

Second, look at this [T24 entity](https://ada-preprod.silknow.org/describe/?url=http%3A%2F%2Fdata.silknow.org%2Fo

[2021-03-26 14:52] rtroncy commented on #72
One potential issue I'm seeing is that now, instances of the `E54_Dimension` class can be found:

- attached to the `E22_Man-Made_Object`: <http://data.silknow.org/object/[UUID]/dimension/[int]>
- attached to the `T24_Pattern_Unit`: <http://data.silknow.org/object/[UUID]/pattern/[int]/dimension/[int]>

Correct? In any case, the [URI Patterns](https://github.com/silknow/converter/blob/master/URI-pa

[2021-03-26 16:15] rtroncy commented on #70
Good, looking forward to see `owl:sameAs` links in each `E22_Man-Made_Object`

[2021-03-26 16:17] #69 closed

[2021-03-26 16:20] #65 closed

[2021-03-26 16:21] rtroncy commented on #65
A better test would be to check that NONE of the UNIPA records have a production place different than 'Sicily' (https://sws.geonames.org/2523118/) rather than a single example but I guess that this is the case!

[2021-03-26 18:26] tschleider commented on #74
True, I double checked the data and indeed there can be up to 3 dimensions. I think it's actually best to extend @pasqLisena 's recent work on the dimension parsing in the case of VAM.

That's a typo, already fixed.

Well the mapping doesn't actually give me any property or position for the thesaurus link, that's why I use "P58 has section definition" for it.

Right now it gets triggered if the wo

[2021-03-26 18:40] tschleider opened #75 "Mappings and converters for new datasets: Status"
**Artic**

- Mapping: Done
- Converter: Done

**Gallica**

- Mapping: [Done](https://docs.google.com/document/d/18lPImagw1GZrHuL2H5aj8nxzK9A4rK90a-q2cMALVRg/edit)
- Converter: Almost

Remaining discussion:
- @mpuren: I had to use FRBRoo because the textile samples are glued into a register, and some of the metadata relate to this "catalogue" of samples. Feel free to comment on the table if you see

[2021-03-26 18:46] tschleider opened #76 "New SILKNOW Ontology"
https://ontome.dataforhistory.org/namespace/36

I don't have access to the newest version beyond an RDF export directly from OntoME. Several issues depend on new classes / properties from the new ontology.

From Slack:
"@rtroncy needs to push the latest version of the SILKNOW ontology in the repo"

[2021-03-26 20:16] rtroncy commented on #74
I suggest you make a SPARQL query giving as much information as possible (graph, object URI, label, production place and time, material, technique) for the E22 objects that have now a `P58_has_section_definition` to a pattern unit with the details of the T24 so that @mpuren verifies that this is correct and perhaps even complete.

[2021-03-26 20:27] #64 closed

[2021-03-26 20:30] rtroncy commented on #60
A `E30_Right` is always attached to an `E38_Image`?

There can be only 1 instance of E30 for an image? I can imagine that there could be multiple rights, and in this case, the URI pattern should be thought to be different such as: https://data.silknow.org/object/[UUID]/image/right/[int]

[2021-03-26 20:35] rtroncy commented on #35
Thanks, this has resolved the issue for properly typing the `crmsci:S4_Observation`. I would keep this issue open which is more general and concerns all `ecrm:P2_has_type` values. See again the [results](https://data.silknow.org/sparql?default-graph-uri=&query=select+distinct+%3Fg+%3Fobs_type+count%28%3Fobs%29+as+%3FnbObs%0D%0Awhere+%7B%0D%0A++graph+%3Fg+%7B+%3Fo+a+ecrm%3AE22_Man-Made_Object+%7D%0

[2021-03-27 16:34] rtroncy commented on #76
Resolve in https://github.com/silknow/knowledge-base/commit/cf7825dd82626ec6a0a0a76b89cadc3bd66211a0

[2021-03-27 16:34] #76 closed

[2021-03-27 17:03] rtroncy commented on #67
The SILKNOW ontology has finally been pushed in the repository, see https://github.com/silknow/knowledge-base/blob/master/ontology/silknow-v1.0.ttl. Note however that the URI of the classes and properties may change a bit, see this [discussion thread](https://lists.eurecom.fr/sympa/arc/silknow/2021-03/msg00105.html).

I suggest to bind <http://data.silknow.org/ontology/> to `silk` as a predefined

[2021-03-29 17:39] tschleider opened #77 "Re-evaluation of the E42 and E15 classes"
The use of the E42 (Identifier) and E15 (Identifier Assignment) classes might be unnecessary:

From @rtroncy :  "What information does https://data.silknow.org/object/d1dde890-2b4d-37b0-a96a-ca3ca9cb3e29/id_assignment/435B-1882 bring for example? I understand that this was part of the mapping but it would make sense to represent this information only if one would use it, e.g. query who is assignin

[2021-03-29 19:00] tschleider commented on #73
Now also on production:

https://data.silknow.org/object/79a4a7d4-0479-39df-a5ae-f93b99deb7dc/id/2655

[2021-03-29 19:03] tschleider commented on #70
Now implemented, too, and pushed to production, e.g.:

https://data.silknow.org/object/aca7cf7a-9ab0-3460-a98e-93a3bb734811

[2021-03-29 19:05] tschleider commented on #67
Ontology properly integated and KG updated accordingly on production:

- https://data.silknow.org/object/5eac50a8-74dd-381f-88f9-43ab08616042/domain/1
- https://data.silknow.org/object/a695dfd4-15c9-3699-82d9-a7544b284375/category/1

URI policy will be updated, too, once I pushed all recent changes.

[2021-03-29 19:11] tschleider commented on #35
Yes, right, I will take care of the other P2. I pushed everything to production, so your query gives now the correct results @rtroncy : [results](https://data.silknow.org/sparql?default-graph-uri=&query=select+distinct+%3Fg+%3Fobs_type+count%28%3Fobs%29+as+%3FnbObs%0D%0Awhere+%7B%0D%0A++graph+%3Fg+%7B+%3Fo+a+ecrm%3AE22_Man-Made_Object+%7D%0D%0A++%3Fobs+crmsci%3AO8_observed+%3Fo+.%0D%0A++%3Fobs+ecr

[2021-03-29 19:11] rtroncy commented on #73
Good, what about normalizing the `P2_has_type` values attached to `E42_Identifier_Assignment`?

[2021-03-29 19:13] tschleider commented on #29
Finally implemented it, pushed to production, example: https://data.silknow.org/describe/?url=http%3A%2F%2Fdata.silknow.org%2Fvisual_item%2F33b242a4-ba01-33c9-b598-472e2235cb34&sid=581

[2021-03-29 19:19] rtroncy commented on #70
Hum, this is implemented as a string and not as a URI!

[2021-03-29 19:23] rtroncy commented on #67
Do not forget to remove / delete https://github.com/silknow/converter/blob/master/src/main/resources/vocabulary/old.ttl as well as https://github.com/silknow/knowledge-base/tree/master/vocabularies/temp

[2021-03-29 19:28] rtroncy commented on #29
What is this `/visual_item` in the URI? This is not described in the URI pattern document and not dereferencable yet!

Why not re-using the simple `/image` pattern? What is the relationship between a E36 and a E38?

[2021-03-29 21:33] rtroncy commented on #41
Closing due to https://lists.eurecom.fr/sympa/arc/silknow/2021-03/msg00113.html

[2021-03-29 21:33] #41 closed

[2021-03-30 08:43] tschleider commented on #29
I gave it a URI that is easily recognisable in the code, we have some mechanisms that can still post-process it before it gets written, therefore it's no poblem.

I can use /image, but we use this for the image files (class) not for categories or descriptions. In an ideal case the motif / subject depiction / visual item is also visible on the image, of course, otherwise they are only connected thr

[2021-03-30 08:49] tschleider commented on #67
Removed them.

By the way about the new URI pattern: "https://data.silknow.org/object/UUID/category/{int}"
We already use "category" for the namespace of the type of objects vocabulary, e.g.: http://data.silknow.org/category/20

Is it not too close?

[2021-03-30 09:53] rtroncy commented on #29
What I meant is that a `ecrm:E38_Image` is a `rdfs:subClassOf` a `ecrm:E36_Visual_Item`. I understand that a Visual Item is more general but the scope note clearly indicates that this class "comprises the intellectual or conceptual aspects of recognisable marks and images".

I think you can overload the /image pattern for identifying Visual Items. There is value in factorizing a bit the number of

[2021-03-30 09:55] rtroncy commented on #67
Yes, this is on purpose as one is the filler of the other!

[2021-03-30 12:59] tschleider commented on #70
True, I fixed it now, but FCT interprets it somehow. If you click on the raw data button it shows that it's now the correct URI:

https://data.silknow.org/sparql?query=define%20sql%3Adescribe-mode%20%22CBD%22%20%20DESCRIBE%20%3Chttp%3A%2F%2Fdata.silknow.org%2Fobject%2Faca7cf7a-9ab0-3460-a98e-93a3bb734811%3E&output=application%2Fodata%2Bjson

[2021-03-30 14:16] rtroncy commented on #70
There is still a problem with the value you're giving to the `owl:sameAs`. The goal is to link to ideally a permalink page from the source museum when it exists. But this should not be an API link for example. How did you construct this URI?

Example: <https://data.silknow.org/object/aca7cf7a-9ab0-3460-a98e-93a3bb734811> should NOT be `owl:sameAs` <https://www.vam.ac.uk/api/json/museumobject/O1113

[2021-03-30 15:00] tschleider commented on #70
Right now I grab the permalink from the harvested JSON, but VAM is a bad example because as far as I remember it's the only one (from which we crawl) that has an API link there.

But you're right that I need to fix this accordingly for the few cases where we need to guess or construct it.

[2021-03-30 15:11] rtroncy commented on #70
OK, as a test case, I suggest you provide one example for each museum once this is fully implemented.

[2021-03-31 09:03] mpuren commented on #35
@tschleider There are some changes to be made to the table.

- Valeria and Georgia said that "Width, Pattern Unit and Construction may be considered as part of the “**technical description**”"
- They also said that "Historical Critical Information contains the elements Historical description, Description of the pattern and iconographical description in the same field". So I think it should be a **

[2021-04-08 21:12] tschleider commented on #70
VAM was indeed the only one for which it needed / could be constructed, now it's done, the example above is working now as you expected it.

For the rest, most of them are not worth a comment except:
- Garin: No permalink
- CER: No permalink
- Imatex: Permalink according to crawl, but the website does not let you acces it like this, e.g.:
http://imatex.cdmt.cat/_cat/fitxa_fitxa.aspx?m=n&num_id=302

[2021-04-09 07:50] rtroncy commented on #70
- Indeed, there will be no permalink for GARIN and CER.
- MTMAD is connected to [this issue](https://github.com/silknow/crawler/issues/8). and I guess there is no hope for now. Note that the new? domain name is https://www.museedestissus.fr/ (and not http://www.mtmad.fr/) but this does not really help.
- For Imatex, it would be interesting to check if this is not a question of passing another para

[2021-04-09 09:11] ehrhart commented on #70
Regarding Versailles: they seem to have a really weird way of handling permalinks. Each search query generates a temporary session and the link to each object is unique to that session. Once it expires, the links won't work anymore. As far as I know there is no way to obtain true permalinks for this source.

[2021-04-09 11:23] rtroncy commented on #70
OK, let's give up for Versailles then. Can you have a look at Imatex again to see if you can construct a URI that is dereferencable without an application code error?

[2021-04-20 20:27] tschleider commented on #73
I normalised all P2 values of E42 according to the mail of @mpuren : [Link](https://lists.eurecom.fr/sympa/arc/silknow/2021-02/msg00093.html)

Example from above again: https://data.silknow.org/object/79a4a7d4-0479-39df-a5ae-f93b99deb7dc/id/2655

I also went through every dataset and checked that we have implemented all existing museum IDs.

Next step should probably be to only show the `rdfs:labe

[2021-04-29 21:49] tschleider commented on #68
A first version (of the integration of the text analysis for predicting missing value) has been deployed, see for example https://data.silknow.org/production/fdda3160-1cc6-30cc-8456-b54d04a5bd7c

For the integration of the predictions from the image analysis, I just have a small issue with the depiction property.

- The predictions for the various properties are directly attached to the production

[2021-04-29 21:52] tschleider commented on #75
Update:
- Europeana: done*
 *Lacks the mechanism to make sure there are no duplicate records
- Gallica: a first usable version done, but without FRBRoo and some interpretations of the mapping as it's really different than usual

EDIT:
- Removed Gallica again, due to unclear mapping status with FRBRoo

[2021-05-03 08:08] tschleider commented on #35
I applied the changes suggested by @mpuren (first in the table above, then in the code, will be applied for the next conversion), but I cannot find "Marcas" and "Type of inscription" in the query results. Either we have a translation mismatch here or I need to update some mappings.

[2021-05-03 08:20] tschleider commented on #67
Updated the URI policy. Is there anything else to do?

[2021-05-03 08:23] ehrhart commented on #70
For Imatex it requires a specific cookie (`ASP.NET_SessionId`) which can be obtained by first going to http://imatex.cdmt.es/. I don't think it's possible to construct an URI without the error. It's a shame that this is an issue and it looks more like a bug that should be fixed on their side.

[2021-05-03 08:57] rtroncy commented on #70
OK, thanks for this final investigation. Now closing this issue.
@tschleider Keep this in mind for future/new museum dataset conversion to have this sameAs link implemented

[2021-05-03 09:12] rtroncy commented on #67
This [commit](https://github.com/silknow/converter/commit/07918f61e739d1ad8eb0c971b384277562ef7356) indicates a wrong URI pattern so this needs to be modified.

There are still traces of [JOKER](https://data.silknow.org/has_type_P2/1) and [BATMAN](https://data.silknow.org/has_type_P2/2) that needs to be deleted. In general, this `has_type_P2` temporary vocabulary needs to be deleted if it is not n

[2021-05-03 16:06] rtroncy commented on #2
See also this [nice table](https://lists.eurecom.fr/sympa/arc/silknow/2021-03/msg00119.html) prepared by @mpuren which indicates for each museum source, the potential role that the `ecrm:E39_Actor` will play: author, maker, designer, former owner.

We should also decide how we want to represent this information if it is worth it.

[2021-05-03 19:19] tschleider commented on #60
The suggested URI pattern is now followed, e.g. for the example already mentioned above: [Following the example above](https://data.silknow.org/object/533e9cc4-e996-3994-9008-34326e45fd1e/image/right/1)

There are several rights fields / values and some do indeed have several entries.

I updated the URI policy, too.

[2021-05-03 19:26] tschleider commented on #29
Ok, got it. So I use /image/ now for the URI pattern, example: [LINK](https://data.silknow.org/describe/?url=http%3A%2F%2Fdata.silknow.org%2Fimage%2Fd4df12bb-bc94-34b1-ac46-0c8e9222c895&sid=683)

Updated the URI policy

[2021-05-03 19:30] rtroncy commented on #60
Can you provide another example of an image having multiple rights?

If I summarize the full path: an `E38_Image` is `P104_applies_to` of a `E30_Right` which has a note / comment. Next, this E30_Right is P75_possessed_by a E39_Actor. How is the label of this actor being defined? Obviously, the label of https://data.silknow.org/actor/180bbe49-4e79-3614-b968-55d5f56ed09e should be "François Perrodin

[2021-05-03 19:34] rtroncy commented on #70
I closed this issue too quickly. @tschleider Can you remove the `owl:sameAs` link in the case of imatex since there are not derefencable?

Example: https://data.silknow.org/object/470b0aab-ca56-37e3-a577-736931809d9b

Between, why does this object not have any label?

[2021-05-03 19:37] rtroncy commented on #29
Can this issue be closed?

[2021-05-03 20:41] tschleider commented on #60
Actually I misread something, "Rights" is a field that is always given per record and not per image / there are never several rights. I therefore removed the integer counter again / also from the URI policy.

About the E39_Actor, yes right now we don't have another issue open about it than #2. I can double check if everything we discussed about E39 is in the comments of the issue tomorrow.

[2021-05-03 20:41] tschleider commented on #29
From my side, yes.

[2021-05-03 20:41] #29 closed

[2021-05-03 20:45] tschleider commented on #70
Removed for Imatex (Is getting reconverted right now).

I checked the original JSON file and all text description fields are simply empty.

[2021-05-03 20:48] rtroncy commented on #60
It seems to me that the `E30_Right` has to be attached to the `E38_Image` (and not to the `E22_Man-Made_Object`). This is what the mapping says, right?

Even if the field (in the original metadata) is unique, this does not prevent that, for example, two people (`E39_Actor`) are mentioning as holding the rights. Why do you say that it can only be a unique person?

[2021-05-03 20:57] tschleider commented on #67
So as discussed I created a proper vocabulary for the Object Type and Object Domain distinction:
https://github.com/silknow/converter/blob/master/src/main/resources/vocabulary/type_domain.ttl

This is only used as a look-up for the original string values instead of having it as hard-coded rules inside the main Converter.
However, for some reason there's always a weird bug when I introduce a new vo

[2021-05-03 21:00] tschleider commented on #77
Fixed (part of https://github.com/silknow/converter/commit/a1bf9834817208e647106648be293fdd5ff2f48c),
upload follows tomorrow.

[2021-05-03 21:20] rtroncy commented on #67
This [controlled vocabulary](https://github.com/silknow/converter/blob/master/src/main/resources/vocabulary/type_domain.ttl) is not ideal.

First, do not create entries at the top level at http://data.silknow.org/ ! The pattern is to insert a short name for the concept scheme before detailing the concepts that are part of this scheme! This will ease the dereferencing, otherwise, you're multiplying

[2021-05-03 21:28] rtroncy commented on #68
Review:

- I think you have super mega complicated the URI pattern for `rdf:Statement`. I would opt for something super simpler as there is no semantics in this statement (this is a reification). I would go for: `<http://data.silknow.org/statement/[NEW_UUID]>` Of course, we need to define the seed to generate this NEW_UUID.

- I think you have also complicated the URI pattern for the `prov:Activit

[2021-05-04 09:13] tschleider commented on #67
Yes, I admit I didn't know what's best to use here, because the patterns for this issues are like:

    - https://data.silknow.org/object/5eac50a8-74dd-381f-88f9-43ab08616042/domain/1
    - https://data.silknow.org/object/a695dfd4-15c9-3699-82d9-a7544b284375/category/1

I thought about http://data.silknow.org/object_assignment/, but I was afraid things get ugly quickly again. Also, I am actually n

[2021-05-04 11:44] rtroncy commented on #67
What about using http://data.silknow.org/assignment/? This is for E17 right? What other E17 assignments you do that are not domain or object category? The controlled vocabulary needs of course to be materialized and loaded.

[2021-05-04 19:01] tschleider commented on #68
This makes sense, but the reason for the complicated pattern is that I'm just re-using an existing one, because otherwise the UUID has to be generated in the python script that uses the construct query. It would be easiest (from an implementation point of view) to use the prediction CSV e.g. to generate the seed. I could, however, replace /prediction/ with /statement/ and re-use the existing UUID?

[2021-05-05 11:57] tschleider commented on #77
Since our last discussion this could be merged with #73.

Internal Museum identifiers are now the value of dc:identifier of E22 and nowhere else. E42 and E15 are normally not instantiated anymore. Example:

http://data.silknow.org/object/ef3d3703-f96d-391d-af4c-15884e613281

E42 and E15 are not used / necessary anymore. Issue can be closed.

[2021-05-05 12:03] tschleider commented on #73
Since our last discussion this could be merged with #77.

Internal Museum identifiers are now the value of dc:identifier of E22 and nowhere else. E42 and E15 are normally not instantiated anymore. Example:

http://data.silknow.org/object/ef3d3703-f96d-391d-af4c-15884e613281

Issue can be closed.

[2021-05-05 12:36] tschleider commented on #60
Actually the implementation for photo copyrights now follows pretty exactly the [mapping](https://docs.google.com/document/d/1_DMd0aF4aweBmBKBMV11aUYzttqGT2ecTFAAJ0vNT6E/edit#heading=h.vy2q0pvq298w)

E38_Image P138 represents E22_ Man-Made Object
E38_Image P104 is subject to E30_Right

Only difference is that P104 is called "applies to". E.g. [here](https://data.silknow.org/describe/?url=http%3A%2

[2021-05-05 12:49] tschleider commented on #67
1. https://data.silknow.org/assignment/ exists now, new "assignment" vocabulary now loaded into triple store and used during conversion
2. Language tags are now correct
3. Version number is 1.0
4. foaf:project part removed from vocabulary

[Example node](https://data.silknow.org/describe/?url=http%3A%2F%2Fdata.silknow.org%2Fobject%2Fb034e1c1-6bf8-3f8f-9e2e-aa4edf039edb%2Fdomain%2F1)

[2021-05-05 15:07] tschleider commented on #35
I created a new vocabulary for dimensions as discussed: https://data.silknow.org/dimension/

Now this took care of most P2 values: [Link](http://data.silknow.org/sparql?default-graph-uri=&query=select+distinct+%3Fg+count%28%3Fs%29+as+%3Fcount+%3Fo+%0D%0Awhere+%7B%0D%0A++GRAPH+%3Fg+%7B%3Fs+ecrm%3AP2_has_type+%3Fo+%7D%0D%0A%7D+GROUP+BY+%3Fg+%3Fo%0D%0AORDER+BY+desc%28count%28%3Fs%29%29&format=text%2F

[2021-05-05 19:41] tschleider commented on #56
- E8: Reactivated acquisition, where it works
- E30: Fixed rights and added it to several converters where it was missing (see also #60 )
- E7: Bug fixed
- E9: Reintroduced where it makes sense.
- We still have an ongoing email discussion about the fields "Embroidery", "Galloon" and "Lining" that only concern UNIPA.

Except for that we need to do some crawler updates, which I just communicated to

[2021-05-06 14:34] pasqLisena commented on #2
All given examples of _duplicates_ are not valid anymore. It is not clear if this is due to a previous fix (as it appears), or not.
From what I see, no action is required for the 2nd task.

[2021-05-06 19:27] tschleider commented on #74
I implemented now another mechanism that builds up upon @pasqLisena  great work on the existing dimension parsing for VAM:
https://data.silknow.org/describe/?url=http%3A%2F%2Fdata.silknow.org%2Fobject%2F89ac6c8c-4637-3854-931f-7984e492939b&sid=762

The only other datasets for which I could find mappings with pattern units was Garin, but it only has a single dimension here each time (don't know if

[2021-05-06 19:34] tschleider commented on #44
Ok so now they are implemented and working. However, indeed the ID change has affected it a bit. From the ID MET is providing me I can only reconstruct the D1 UUID, wheras Joconde is providing us with the internal museum ID that we now use for E22 only:

Met:
https://data.silknow.org/describe/?url=http%3A%2F%2Fdata.silknow.org%2Fobject%2F6081a896-8b64-32f0-973d-74ba26cec730

Joconde:
https://data.

[2021-05-07 14:40] pasqLisena commented on #2
In the last commit:
- Alignment of the code to the new URI policy for actor
- I fixed something about names (removing double spaces, trailing dots, ...). This may solve some URI generation
- I aligned roles to [historian recommendation](https://lists.eurecom.fr/sympa/arc/silknow/2021-03/msg00119.html)
- I introduced an interlinking with ISNI, which (in the best case) give us also VIAF, Wikidata, D

[2021-05-10 18:00] tschleider commented on #68
- I updated the test files for the prediction. Just as last time they are on Google Drive: [Link](https://drive.google.com/drive/folders/1hXcmAMSsTmq22nUT5HIyXfnfeEewrklf)

- The sparql queries for these files are in this repo: [Link](https://github.com/silknow/converter/tree/master/jointtextimagemodule/testfiles_prediction)

- Statistics can be generated with a Python script (CSV files need to be

[2021-05-18 10:13] tschleider commented on #68
@lrei @Dorozynski
Luis made me aware of an issue: I kept the first version of the predictions in the KG when I generated the new file(s).
Sorry for the incovenience, I will fix that today and send the new file(s).

[2021-05-21 09:38] tschleider commented on #75
Update:

- **El Tesoro** is in the KG now as both the files and the mapping exists
- Mapping for Gallerie degli Uffizi exists too, but not the files yet

[2021-05-21 10:44] tschleider commented on #68
@lrei @Dorozynski
I updated the CSV and created new test files for the predictions.

See here:
https://github.com/silknow/converter/tree/master/jointtextimagemodule

testfile predictions are in the folder (the CSV files) and the usual total_post.csv is inside the results.7z file (together with lots of statistics CSVs).

[2021-05-21 13:20] tschleider commented on #70
@rtroncy : I was asked by Jorge in today's telecon to display the original URL per object, whenever possible (so excluding cases like Imatex) on ADASilk.
Therefore I open this issue here again (hopefully just for a short time).

[2021-06-08 12:32] Dorozynski commented on #68
@tschleider
I generated the predictions for the test files that can be found here: https://drive.google.com/drive/u/0/folders/1ytuUWiyaW5v1jkDqVUQdDhMa2i51MKpi

Details about the hyper parameter tuning and the dataset can be found in D6.7 in chapter 3 (soon available).

[2021-07-05 16:37] lrei commented on #68
@tschleider As you requested I'm commenting on this issue - I've also sent the e-mail and notified you on slack:

https://drive.google.com/drive/folders/1lCu_CtOs9Fg63T6qXB2Dj3Xeg_U5-HRn

[2021-07-13 06:37] Dorozynski commented on #68
Hi @lrei and @tschleider,
please find the image predictions (for XGBoost) in the following folder: https://drive.google.com/drive/u/0/folders/1x1mX6FpymsHf9z8-pXNHaDp3-kAcg-jV

As depiction was not part of the training dataset to be used, no predictions were made for that variable.

I think the image predictions for the direct integration in ADASilk should remain the same (see above; 8th June 2021

[2021-07-22 14:54] tschleider commented on #75
Update:

We agreed that we ignore the mentioned  but not yet integrated dataset except Europeana, Saint-Etienne and Louvre (previously not mentioned).

**Louvre**
- Mapping: done
- Converter: done
- Upload: done

**Europeana**
- Mapping: done
- Converter: done except for the mechanism to remove / avoid duplicate records in the KG
- Mechanism for duplicates: @ehrhart and me found a possibility to i

[2021-07-22 14:56] tschleider opened #78 "VAM converter needs to be updated to make it compatible with new website"
See crawler # 40 for this: https://github.com/silknow/crawler/issues/40

When the converter is updated and everything reconverted this issue here can be closed.

[2021-07-22 15:04] rtroncy commented on #75
Thanks for the update. Can you

- indicate what needs to be yet reviewed for the mappings for St Etienne?
- provide details on the SPARQL patch you need to apply to make sure there is no duplicates from Europeana?

[2021-07-23 10:21] tschleider commented on #68
So now we have predictions based on 1) text descriptions, 2) images and 3) categorical values (XGBoost) and they are all uploaded.

Differences:
- Different values for ecrm:P70_documents of  prov:SoftwareAgent according to the descriptions @Dorozynski and @lrei sent us. ([Example](https://data.silknow.org/describe/?url=http%3A%2F%2Fdata.silknow.org%2Factor%2Fjsi-text-analysis%2F1&sid=63))
- Differ

[2021-07-23 12:26] rtroncy commented on #68
Thanks for the updates!

- https://data.silknow.org/describe/?url=http%3A%2F%2Fwww.w3.org%2Fns%2Fprov%23SoftwareAgent&sid=63 shows the 3 SoftwareAgent we now have. These URI are good for me. Maybe we can remove the counter '/1' as there will be no other versions
- An activity made by the luh-image-analysis software agent like http://data.silknow.org/activity/527c9c94-95de-5458-8423-af0dddc4c087 is

[2021-09-11 12:41] #77 closed

[2021-09-11 12:44] #73 closed

[2021-09-11 12:49] #60 closed

[2021-09-11 13:02] rtroncy commented on #67
Actualy, I closed this too quickly! I'm confused: why do we need this [controlled vocabulary](https://data.silknow.org/assignment/) in the first place that defines only 2 concepts, while we already have them as classes and properties with https://github.com/silknow/knowledge-base/blob/master/vocabularies/ontology/silknow-v1.0.ttl#L221 and https://github.com/silknow/knowledge-base/blob/master/vocab

[2021-09-11 13:13] rtroncy commented on #35
There seem to be 2 more quick wins:

- Artiste / Auteur / Ecole / Centre artistique (Louvres) and author (VAM, Joconde, El-Tesoro, Paris-Musée) ... in which context are those mentioned?

- Bibliography (VAM, Louvres, Mobilier, Unipa, MTMAD, CER, Joconde)

How to address these 2?

[2021-09-11 13:15] rtroncy commented on #56
New crawling has been done while ago. What is the status now?

[2021-09-11 13:20] rtroncy commented on #74
In [this example](http://data.silknow.org/object/89ac6c8c-4637-3854-931f-7984e492939b), there are first typos. Look at the values of the http://erlangen-crm.org/current/P58_has_section_definition property, this should be:
http://data.silknow.org/object/89ac6c8c-4637-3854-931f-7984e492939b/dimension/pattern/1 and http://data.silknow.org/object/89ac6c8c-4637-3854-931f-7984e492939b/dimension/pattern/

[2021-09-11 13:22] #44 closed

[2021-09-11 13:31] rtroncy commented on #2
Amazing work!

@tschleider which method between [addActivity](https://github.com/silknow/converter/blob/fe77088d2a940ef84dba3bf66fe34c511faaf5f3/src/main/java/org/silknow/converter/entities/Entity.java#L197) and [addActor](https://github.com/silknow/converter/blob/fe77088d2a940ef84dba3bf66fe34c511faaf5f3/src/main/java/org/silknow/converter/entities/Acquisition.java#L40) is used ultimately?

Lookin

[2021-09-11 13:33] rtroncy commented on #70
Yes, I fully agree. What is the status? Do we have in most of the cases the museum permalink modeled as `owl:sameAs` in the KG?

@ehrhart Can you make sure that when this link is present, this is visualized in ADASilk?

[2021-09-11 13:35] #30 closed

[2021-09-11 13:38] rtroncy commented on #55
This is no longer necessary.

[2021-09-11 13:38] #55 closed

[2021-09-11 13:40] rtroncy commented on #9
Close, since we have issue #63

[2021-09-11 13:40] #9 closed

[2021-09-11 13:41] rtroncy commented on #28
Close since we have issue #63

[2021-09-11 13:41] #28 closed

[2021-09-11 13:44] rtroncy commented on #71
This will not be addressed.

[2021-09-11 13:44] #71 closed

[2021-09-13 09:35] tschleider commented on #67
So this is now few months old so it could be that I worked on it before the new classes and properties were fully available.

That said, I use string2vocabulary to normalise all the strings and replaces them with these two URIs. I could have another look and eventually re-write it still.

[2021-09-13 09:37] tschleider commented on #70
I simply forgot to update this but all museums that offer a working museum weblink have it now as owl:sameAs.

[2021-09-13 09:40] tschleider commented on #75
- Haven't had a look at St. Etienne since July but what I meant was that Lyon told me it's not ready and last time I checked (July) Pierre was still working on it.
- I haven't finished the script, I'll do this asap and update this issue here. We basically made sure tha the format of the Europeana record ID is compatible with the other museum so that a script can remove duplicates.

[2021-09-13 09:44] tschleider commented on #72
Correct. If this is a problem, what could be a solution?

I'll update the URI policy

[2021-09-13 14:24] ehrhart commented on #56
IMATEX has been recrawled [a while ago](https://silknow.uv.es/owncloud/index.php/f/704286).

VAM still has to be updated (https://github.com/silknow/crawler/issues/36) and re-crawled. I'll keep you posted.

[2021-09-13 15:23] ehrhart commented on #70
The `owl:sameAs` property is now being displayed under the title of the object.

[2021-09-13 19:12] rtroncy commented on #67
The point is that we should not use anymore this controlled vocabulary since there are new classes and properties. This is the shape of the RDF that needs to be changed.

[2021-09-13 19:18] rtroncy commented on #75
I think you should email back Pierre to know what the status is precisely. We must have data from St Etienne for the review.

[2021-09-13 19:19] rtroncy commented on #72
It is not necessarily an issue if this is clear that dimensions of objects are different than dimensions of pattern unit and if dimensions are never primary entities.

[2021-09-13 19:22] rtroncy commented on #70
Brilliant! Here is an example: https://ada.silknow.org/object/000c6e33-1bee-38db-9950-b6dba656f968
I'm closing this issue.

[2021-09-13 19:22] #70 closed

[2021-09-14 09:28] ehrhart commented on #56
After verification the crawler for VAM has already been updated and the [dump from July](https://silknow.uv.es/owncloud/index.php/f/704421) contains the "Subject depicted".
The depicted subject is split into multiple fields on VAM's API, based on the type of subject. See https://github.com/silknow/crawler/issues/36 for the list of fields.

[2021-09-14 20:49] tschleider commented on #67
So, shall I completely remove the string2vocabulary part and therefore restore all the original strings?
The alternative is to hard-code the string - property mappings without a controlled vocabulary

[2021-09-14 20:57] rtroncy commented on #67
No, you need to use string2vocabulary as an intermediate step. But not to make use of a controlled vocabulary, but to replace the concept by a different graph shape, using the new classes and properties (that need to be instantiated). Work out on an example on paper, and everything will be clearer.

[2021-09-14 20:59] tschleider commented on #35
- Artist and Authors is in all cases the creator(s) of the objects, if known
 - Bibliography lists all books, which describe / mention / refer to the respective obejct

 For the first one we could re-use .../actor/, for the second .../document/.

[2021-09-14 21:11] tschleider commented on #2
It's still both, which was originally because I wanted to follow the mapping files more directly in some cases.
I will change it so that only addActivity will be used.

[2021-09-14 21:11] rtroncy commented on #35
I'm not sure I understand your proposal. We are talking about normalizing P2_has_type values and thus creating controlled vocabularies. Can you write down a full example of your proposal?

[2021-09-14 21:13] tschleider commented on #56
Thanks @ehrhart !
I'll follow up by finishing the converter and will close the issue afterwards

[2021-09-14 21:15] tschleider commented on #72
Yes, that's the case, I'll update the pattern policy file and will close this issue

[2021-09-14 21:25] tschleider commented on #74
- I fixed the typo.
- I used T24 as value for rdf:type as follows: http://data.silknow.org/ontology/T24 . Is there a better way to use it? I kept this whole /dimension/ pattern as i re-use some of the dimension parsing, because ultimately we're dealing with a dimension (plus unit, e.g. cm) here.

[2021-09-15 12:41] rtroncy commented on #74
I guess this will be visible once you're reloading the graph (I'm checking this [example](https://data.silknow.org/object/89ac6c8c-4637-3854-931f-7984e492939b)).

Regarding the information we are encoding, at the moment, we are mixing different type of values for the property `ecrm:P58_has_section_definition` attached to the E22 object:

- we provide the uri of a concept: https://data.silknow.org/

[2021-09-17 13:48] ehrhart commented on #2
It's not clear to me which relations should be displayed on ADA. We are already displaying legal bodies using this triple path:
[code]
I have just added today the acquisition using this triple path: ([example](https://ada.silknow.org/object/69f2bacd-a55f-3f66-80fb-3bd97c685e5d))
[code]
If there's more metadata to display, please let me know, and having the triple path would also help.

[2021-09-17 14:15] rtroncy commented on #2
There are 4 properties that enable to relate to a `ecrm:E39_Actor` (by order of nb of events):

- ecrm:P14_carried_out_by
- ecrm:P29_custody_received_by
- ecrm:P22_transferred_title_to
- ecrm:P75i_is_possessed_by

In the ADASilk UI, you just put the label ACQUISITION for the path: `?obj ^ecrm:P24_transferred_title_of/ecrm:P23_transferred_title_from ?acquisitionLabel .` When using the path `?obj ^e

[2021-09-17 16:33] ehrhart commented on #2
Yes, both are correct.

* I added `ecrm:P14_carried_out_by` as "Carried out by" in the metadata. Example: https://ada.silknow.org/object/6e870925-b030-3217-9b8e-f4564e5d734e

* The rights, represented by `ecrm:P75i_is_possessed_by`, are already displayed under the photos. Example: https://ada.silknow.org/object/0a135684-ac43-3888-8fbd-c79dd061de73 (not the most beautiful display but the text is co

[2021-09-18 14:35] rtroncy opened #79 "URI pattern is not respected for E17 type assignment"
The [URI Design Pattern](https://github.com/silknow/converter/blob/master/URI-patterns.md) states:
`E17_Type_Assignment | object | /type/{progressive int}`

However, this is not respected as one can see from this [link](https://data.silknow.org/describe/?url=http%3A%2F%2Ferlangen-crm.org%2Fcurrent%2FE17_Type_Assignment) where URL are like https://data.silknow.org/object/53cff18e-0dee-3f63-b306-52b

[2021-09-18 15:15] rtroncy commented on #2
Thanks @ehrhart ! Some more updates to do on the UI:

- When encountering a `E8_Acquisition`, like [this one](https://data.silknow.org/event/9a027602-dcbd-31a1-9db4-a351c5b0dcac), this is good to display a **Acquisition** label in the UI as you do at https://ada.silknow.org/object/69f2bacd-a55f-3f66-80fb-3bd97c685e5d , nothing to change

- When encountering a `E10_Transfer_of_Custody`, like [this

[2021-10-06 22:50] tschleider commented on #35
Forget the last sentence, I think I mixed up issues in my head.

I can indeed creat another controlled vocabulary that includes all alternative spellings for both concepts respectively and run string2vocabulary on it.

[2021-10-06 23:00] tschleider commented on #79
I changed it, will be gone soon after the next conversion

[2021-10-06 23:01] tschleider commented on #75
Pierre confirmed that it's final now, I'll continue to work on it.

[2021-10-06 23:02] tschleider commented on #74
I removed P58 (for now), will be visible after the next conversion. I thought it was mandatory to use it, but I was just simply confused how to represent it perfectly between having it as both class and thesaurus concept.

[2021-10-06 23:03] tschleider commented on #68
I changed the counter "/1" and the triple for XGBoostClassifier, will be visible after next conversion / prediction construct queries.

[2021-10-06 23:04] tschleider commented on #67
As far as I know there is always a vocabulary needed to use string2vocabulary, otherwise I'd have to ask @pasqLisena .

[2021-10-06 23:06] tschleider commented on #2
- About P29: Based on the mappings there is both Acquisition and Transfer of Custody (which often are connected). In the given example ( https://data.silknow.org/event/fe37814d-6807-3e8b-9a65-cc2fa0f62470 ) this object was a gift of a person. Right now Transfer of Custody requires an institution for P29 and this is not the case here. Shall I change this requirement?

- Blank node: I'm working on i

[2021-10-07 06:56] rtroncy commented on #67
You apparently didn't get the issue. You can run string2vocabulary with this useless vocab as an intermediary step, but this should not be the end goal. Ultimately, this is the output graph shape that needs to be changed with instanciations of the new classes (T19 and T35). Otherwise, what is the purpose of these classes?

[2021-10-07 06:58] rtroncy commented on #2
@tschleider Can you provide the full example (showing the source data) and what would be the value if you change this requirement?

[2021-10-07 08:19] ehrhart commented on #2
Done

Possible values are "author", "Technical Analysis", "Historical Critical Information", "Artist", "Author", "Designer", "Maker", "Artiste / Auteur / Ecole / Centre artistique", "faïencerie", "fabricant, attribué à", "fabricant", "dessinateur", "dessinateur", "dessinateur, attribué à". ([query](https://data.silknow.org/sparql?default-graph-uri=&qtxt=SELECT+DISTINCT+%3Ftype%0D%0AWHERE+%7B%0D%0A

[2021-11-04 21:00] tschleider commented on #79
Done:

https://data.silknow.org/object/53cff18e-0dee-3f63-b306-52b9817d5d71/type/1

[2021-11-04 21:00] #79 closed

[2021-11-04 21:00] tschleider commented on #78
Done

[2021-11-04 21:00] #78 closed

[2021-11-04 21:03] tschleider commented on #74
It's removed: https://data.silknow.org/object/89ac6c8c-4637-3854-931f-7984e492939b

[2021-11-04 21:03] #74 closed

[2021-11-05 15:57] tschleider commented on #56
Ok I updated the converter and it can handle the new format now (which concludes this issue itself).

However, @ehrhart , it seems that the newer dump is way smaller  than the older dumps on ownCloud. I therefore mixed them and kept the converter compatible to both. Is there a reason that the newer dump is much smaller than before?

EDIT: Just in light of @ehrhart 's new input, here the number of

[2021-11-08 16:16] ehrhart commented on #56
@tschleider I updated VAM crawler with an additional fix, but I just wanted to note that the number of results is still lower than what we used to have previously. However, I don't know if it was due to incorrect crawling in the past, or that VAM changed something to their dataset/API, or both.

I am crawling using 3 methods as described by the [logbook](https://docs.google.com/document/d/1Tg4gDlz

[2021-11-10 08:55] ehrhart commented on #56
VAM Records: [vam_records_20211110_5.tar.gz](https://silknow.uv.es/owncloud/index.php/f/708158)
VAM Files: [vam_files_20211110_5.tar.gz](https://silknow.uv.es/owncloud/index.php/f/708435)

[2021-11-24 14:19] tschleider commented on #56
Thanks for the new dump and the explanation, @ehrhart . It makes sens how you download the objects, but this is still a huge reduction of data from the KG (if I would simply replace the old dump of ca. 7700 files with the new one of less than 1000 file it's reduction of almost 7000 files).

What do you think we should do @rtroncy ?

[2021-11-24 14:21] rtroncy commented on #56
I would keep the oldest VAM dump. This issue is now old and I lost track. Why did we want to re-crawl it in the first place? @tschleider Can you summarize the current issue?

[2021-11-24 14:25] tschleider commented on #56
@rtroncy
Their website got updated and they added a field for "Subject depicted", that would be of course highly relevant as we don't have a lot of (English) data for subject depiction. But now the new harvest (@ehrhart  explains how he does it above) yields much less objects.

I would also rather keep the old dump as of now, but I could "mix" the files (so if a object has a newer download includi

[2021-11-24 15:27] rtroncy commented on #56
A smart merge of the 2 dumps would be idea so a BIG +1 but I don't want that this takes too much time. You're the best to judge.

[2021-11-25 18:44] tschleider commented on #56
I combined the most recent dump with the last one that was big and re-converted VAM (it's online).
I also uploaded this combined dump to OwnCloud: https://silknow.uv.es/owncloud/index.php/apps/files/?dir=/Data&fileid=626898

Everything discussed in this issue has been integrated

[2021-11-25 18:44] #56 closed

[2021-11-26 13:21] tschleider commented on #72
Copied the section about the two possible E54_Dimension pattern into the URI policy. Therefore this issue here can be closed.

[2021-11-26 13:21] #72 closed

[2021-11-29 20:37] tschleider commented on #75
I am done with the most common classes / properties and images for St. Etienne:

[Example](https://data.silknow.org/describe/?url=http%3A%2F%2Fdata.silknow.org%2Fobject%2F23857bc3-314e-32d3-94db-2e77d3e85253)

[Image](https://data.silknow.org/describe/?url=http%3A%2F%2Fdata.silknow.org%2Fimage%2F9748e413-13ac-32a0-a78b-d1a7cf4cafae)

It will be finished this week

[2021-11-29 20:40] tschleider commented on #67
[Example taken from above ](https://data.silknow.org/object/a695dfd4-15c9-3699-82d9-a7544b284375/category/1)

I kept most of the mechanism actually untouched, but this "assignment" vocabulary is no longer uploaded, and P2_has_type is no longer instantiated and linked to it.

There are technically remainders of this still online, but this is part of a small deployment issue that should be fixed by

[2021-11-29 20:47] tschleider commented on #35
I created two new vocabulary for the classes "activity" and "information object" with an entry for "[designer](https://data.silknow.org/activity/designer)" and "bibliography" respectively.

Based on this the P2 list looks cleaner now: [Link](http://data.silknow.org/sparql?default-graph-uri=&query=select+distinct+%3Fg+count%28%3Fs%29+as+%3Fcount+%3Fo+%0D%0Awhere+%7B%0D%0A++GRAPH+%3Fg+%7B%3Fs+ecrm%3

[2021-11-29 20:49] tschleider commented on #2
Now there is, I also went through most converters / mappings and improved consistency / fixed some bugs / missing nodes.

[2021-12-07 14:37] tschleider commented on #68
All points are now addressed! The counter is removed and the XGBoost-classifier has prov:used set accordingly.

[2021-12-07 14:37] #68 closed

[2021-12-07 15:00] tschleider commented on #67
Made sure all remainders are removed as well, definitely solved now.

[2021-12-07 15:00] #67 closed

[2021-12-07 17:09] rtroncy commented on #2
So, what is left to do in this issue @tschleider?

[2021-12-07 17:17] rtroncy commented on #35
I'm seeing a "`Description analytique`" from the graph http://data.silknow.org/graph/musee-st-etienne that probably needs to be converted to http://data.silknow.org/observation/general-observation or http://data.silknow.org/observation/technical-observation.

Pay attention, http://data.silknow.org/observation/xxx URIs are not dereferencable. You need to add the corresponding rules.

Why do we not

[2021-12-07 17:18] rtroncy commented on #75
What is now the status?

[2021-12-07 17:29] tschleider commented on #75
I worked on it, but I ran again into issues with the format that need to fixed first so I spend more time on the other issues first.

[2021-12-07 17:32] tschleider commented on #2
I wanted to say that I only answered on a specific question from you and from my side there's nothing more, but then I went through it and saw that this is still remaining:

I'll try to fix it asap!

[2021-12-21 18:34] tschleider commented on #75
**St. Etienne**

    Mapping: Done
    Converter: Done
    Upload: Done

I realised there was no progress on the script to remove duplicates for Europeana, this still needs to be done.

[2021-12-22 00:04] tschleider commented on #35
I have not had the time to address your comments and questions, but I'm just writing here to highlight a bug that still exists:
In some cases the string of P2 gets not properly replaced / exists together with a string:

https://data.silknow.org/production/fde5d77f-2198-3d43-a39c-0b53cb87baa1/activity/2

It's pretty weird, because that's not how the TTL looks like. It needs further investigation.